.firstusershake {
  -webkit-animation: chipanimbet 1s linear;
  -moz-animation: chipanimbet 1s linear;
  animation: chipanimbet 1s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes chipanimbet {
  0% {
    left: 4%;
  }

  25% {
    left: 1.5%;
  }
  50% {
    left: 4%;
  }
  75% {
    left: 7.5%;
  }

  100% {
    left: 4%;
  }
}

@-webkit-keyframes chipanimbet {
  0% {
    left: 4%;
  }

  25% {
    left: 2.5%;
  }
  50% {
    left: 4%;
  }
  75% {
    left: 5.5%;
  }

  100% {
    left: 4%;
  }
}

@keyframes chipanimbet {
  0% {
    left: 4%;
  }

  25% {
    left: 2.5%;
  }
  50% {
    left: 4%;
  }
  75% {
    left: 5.5%;
  }

  100% {
    left: 4%;
  }
}
.secondUserShake {
  -webkit-animation: secSheke 1s linear;
  -moz-animation: secSheke 1s linear;
  animation: secSheke 1s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes secSheke {
  0% {
    left: 79%;
  }

  25% {
    left: 82.5%;
  }
  50% {
    left: 79%;
  }
  75% {
    left: 76.5%;
  }

  100% {
    left: 79%;
  }
}

@-webkit-keyframes secSheke {
  0% {
    left: 79%;
  }

  25% {
    left: 82.5%;
  }
  50% {
    left: 79%;
  }
  75% {
    left: 76.5%;
  }

  100% {
    left: 79%;
  }
}

@keyframes secSheke {
  0% {
    left: 79%;
  }

  25% {
    left: 82.5%;
  }
  50% {
    left: 79%;
  }
  75% {
    left: 76.5%;
  }

  100% {
    left: 79%;
  }
}
/* current User Bet Place Style Start */

.userBetPlaceAnim_1 {
  -webkit-animation: betcurrenttbl1 0.5s linear;
  -moz-animation: betcurrenttbl1 0.5s linear;
  animation: betcurrenttbl1 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes betcurrenttbl1 {
  0% {
    top: 554%;
    left: 318%;
  }
}

@-moz-keyframes betcurrenttbl1 {
  0% {
    top: 554%;
    left: 318%;
  }
}

@-webkit-keyframes betcurrenttbl1 {
  0% {
    top: 554%;
    left: 318%;
  }
}
.userBetPlaceAnim_2 {
  -webkit-animation: betcurrenttbl2 0.5s linear;
  -moz-animation: betcurrenttbl2 0.5s linear;
  animation: betcurrenttbl2 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes betcurrenttbl2 {
  0% {
    top: 555%;
    left: 147%;
  }
}

@-moz-keyframes betcurrenttbl2 {
  0% {
    top: 555%;
    left: 147%;
  }
}

@-webkit-keyframes betcurrenttbl2 {
  0% {
    top: 555%;
    left: 147%;
  }
}
.userBetPlaceAnim_3 {
  -webkit-animation: betcurrenttbl3 0.5s linear;
  -moz-animation: betcurrenttbl3 0.5s linear;
  animation: betcurrenttbl3 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes betcurrenttbl3 {
  0% {
    top: 555%;
    left: -27%;
  }
}

@-moz-keyframes betcurrenttbl3 {
  0% {
    top: 555%;
    left: -27%;
  }
}

@-webkit-keyframes betcurrenttbl3 {
  0% {
    top: 555%;
    left: -27%;
  }
}
.userBetPlaceAnim_4 {
  -webkit-animation: betcurrenttbl4 0.5s linear;
  -moz-animation: betcurrenttbl4 0.5s linear;
  animation: betcurrenttbl4 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes betcurrenttbl4 {
  0% {
    top: 555%;
    left: -202%;
  }
}

@-moz-keyframes betcurrenttbl4 {
  0% {
    top: 555%;
    left: -202%;
  }
}

@-webkit-keyframes betcurrenttbl4 {
  0% {
    top: 555%;
    left: -202%;
  }
}
.userBetPlaceAnim_5 {
  -webkit-animation: betcurrenttbl5 0.5s linear;
  -moz-animation: betcurrenttbl5 0.5s linear;
  animation: betcurrenttbl5 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes betcurrenttbl5 {
  0% {
    top: 277%;
    left: 320%;
  }
}

@-moz-keyframes betcurrenttbl5 {
  0% {
    top: 277%;
    left: 320%;
  }
}

@-webkit-keyframes betcurrenttbl5 {
  0% {
    top: 277%;
    left: 320%;
  }
}
.userBetPlaceAnim_6 {
  -webkit-animation: betcurrenttbl6 0.5s linear;
  -moz-animation: betcurrenttbl6 0.5s linear;
  animation: betcurrenttbl6 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes betcurrenttbl6 {
  0% {
    top: 277%;
    left: 145%;
  }
}

@-moz-keyframes betcurrenttbl6 {
  0% {
    top: 277%;
    left: 145%;
  }
}

@-webkit-keyframes betcurrenttbl6 {
  0% {
    top: 277%;
    left: 145%;
  }
}
.userBetPlaceAnim_7 {
  -webkit-animation: betcurrenttbl7 0.5s linear;
  -moz-animation: betcurrenttbl7 0.5s linear;
  animation: betcurrenttbl7 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes betcurrenttbl7 {
  0% {
    top: 277%;
    left: -28%;
  }
}

@-moz-keyframes betcurrenttbl7 {
  0% {
    top: 277%;
    left: -28%;
  }
}

@-webkit-keyframes betcurrenttbl7 {
  0% {
    top: 277%;
    left: -28%;
  }
}
.userBetPlaceAnim_8 {
  -webkit-animation: betcurrenttbl8 0.5s linear;
  -moz-animation: betcurrenttbl8 0.5s linear;
  animation: betcurrenttbl8 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes betcurrenttbl8 {
  0% {
    top: 277%;
    left: -202%;
  }
}

@-moz-keyframes betcurrenttbl8 {
  0% {
    top: 277%;
    left: -202%;
  }
}

@-webkit-keyframes betcurrenttbl8 {
  0% {
    top: 277%;
    left: -202%;
  }
}
/* current User Bet Place Style End */

/* dummy first user betplace style Start */

.dummyuser_table1 {
  -webkit-animation: dummyFirstUser1 0.5s linear;
  -moz-animation: dummyFirstUser1 0.5s linear;
  animation: dummyFirstUser1 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummyFirstUser1 {
  0% {
    top: -389.187289%;
    left: -26.697669%;
  }
}

@-moz-keyframes dummyFirstUser1 {
  0% {
    top: -389.187289%;
    left: -26.697669%;
  }
}

@-webkit-keyframes dummyFirstUser1 {
  0% {
    top: -389.187289%;
    left: -26.697669%;
  }
}
.dummyuser_table2 {
  -webkit-animation: dummyFirstUser2 0.5s linear;
  -moz-animation: dummyFirstUser2 0.5s linear;
  animation: dummyFirstUser2 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummyFirstUser2 {
  0% {
    top: -389%;
    left: -200%;
  }
}

@-moz-keyframes dummyFirstUser2 {
  0% {
    top: -389%;
    left: -200%;
  }
}

@-webkit-keyframes dummyFirstUser2 {
  0% {
    top: -389%;
    left: -200%;
  }
}
.dummyuser_table3 {
  -webkit-animation: dummyFirstUser3 0.5s linear;
  -moz-animation: dummyFirstUser3 0.5s linear;
  animation: dummyFirstUser3 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummyFirstUser3 {
  0% {
    top: -395%;
    left: -393%;
  }
}

@-moz-keyframes dummyFirstUser3 {
  0% {
    top: -395%;
    left: -393%;
  }
}

@-webkit-keyframes dummyFirstUser3 {
  0% {
    top: -395%;
    left: -393%;
  }
}
.dummyuser_table4 {
  -webkit-animation: dummyFirstUser4 0.5s linear;
  -moz-animation: dummyFirstUser4 0.5s linear;
  animation: dummyFirstUser4 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummyFirstUser4 {
  0% {
    top: -395%;
    left: -590%;
  }
}

@-moz-keyframes dummyFirstUser4 {
  0% {
    top: -395%;
    left: -590%;
  }
}

@-webkit-keyframes dummyFirstUser4 {
  0% {
    top: -395%;
    left: -590%;
  }
}
.dummyuser_table5 {
  -webkit-animation: dummyFirstUser5 0.5s linear;
  -moz-animation: dummyFirstUser5 0.5s linear;
  animation: dummyFirstUser5 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummyFirstUser5 {
  0% {
    top: -395%;
    left: -590%;
  }
}

@-moz-keyframes dummyFirstUser5 {
  0% {
    top: -395%;
    left: -590%;
  }
}

@-webkit-keyframes dummyFirstUser5 {
  0% {
    top: -395%;
    left: -590%;
  }
}
.dummyuser_table6 {
  -webkit-animation: dummyFirstUser6 0.5s linear;
  -moz-animation: dummyFirstUser6 0.5s linear;
  animation: dummyFirstUser6 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummyFirstUser6 {
  0% {
    top: -658%;
    left: -200%;
  }
}

@-moz-keyframes dummyFirstUser6 {
  0% {
    top: -658%;
    left: -200%;
  }
}

@-webkit-keyframes dummyFirstUser6 {
  0% {
    top: -658%;
    left: -200%;
  }
}
.dummyuser_table7 {
  -webkit-animation: dummyFirstUser7 0.5s linear;
  -moz-animation: dummyFirstUser7 0.5s linear;
  animation: dummyFirstUser7 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummyFirstUser7 {
  0% {
    top: -660%;
    left: -390%;
  }
}

@-moz-keyframes dummyFirstUser7 {
  0% {
    top: -660%;
    left: -390%;
  }
}

@-webkit-keyframes dummyFirstUser7 {
  0% {
    top: -660%;
    left: -390%;
  }
}
.dummyuser_table8 {
  -webkit-animation: dummyFirstUser8 0.5s linear;
  -moz-animation: dummyFirstUser8 0.5s linear;
  animation: dummyFirstUser8 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummyFirstUser8 {
  0% {
    top: -659%;
    left: -545%;
  }
}

@-moz-keyframes dummyFirstUser8 {
  0% {
    top: -659%;
    left: -545%;
  }
}

@-webkit-keyframes dummyFirstUser8 {
  0% {
    top: -659%;
    left: -545%;
  }
}

/* dummy first user betplace style End */

/* dummy second user betplace style Start */

.dummyuser2_table1 {
  -webkit-animation: dummySecondUser1 0.5s linear;
  -moz-animation: dummySecondUser1 0.5s linear;
  animation: dummySecondUser1 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummySecondUser1 {
  0% {
    top: -376%;
    left: 646%;
  }
}

@-moz-keyframes dummySecondUser1 {
  0% {
    top: -376%;
    left: 646%;
  }
}

@-webkit-keyframes dummySecondUser1 {
  0% {
    top: -376%;
    left: 646%;
  }
}
.dummyuser2_table2 {
  -webkit-animation: dummySecondUser2 0.5s linear;
  -moz-animation: dummySecondUser2 0.5s linear;
  animation: dummySecondUser2 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummySecondUser2 {
  0% {
    top: -376%;
    left: 470%;
  }
}

@-moz-keyframes dummySecondUser2 {
  0% {
    top: -376%;
    left: 470%;
  }
}

@-webkit-keyframes dummySecondUser2 {
  0% {
    top: -376%;
    left: 470%;
  }
}
.dummyuser2_table3 {
  -webkit-animation: dummySecondUser3 0.5s linear;
  -moz-animation: dummySecondUser3 0.5s linear;
  animation: dummySecondUser3 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummySecondUser3 {
  0% {
    top: -378%;
    left: 274%;
  }
}

@-moz-keyframes dummySecondUser3 {
  0% {
    top: -378%;
    left: 274%;
  }
}

@-webkit-keyframes dummySecondUser3 {
  0% {
    top: -378%;
    left: 274%;
  }
}
.dummyuser2_table4 {
  -webkit-animation: dummySecondUser4 0.5s linear;
  -moz-animation: dummySecondUser4 0.5s linear;
  animation: dummySecondUser4 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummySecondUser4 {
  0% {
    top: -381%;
    left: 74%;
  }
}

@-moz-keyframes dummySecondUser4 {
  0% {
    top: -381%;
    left: 74%;
  }
}

@-webkit-keyframes dummySecondUser4 {
  0% {
    top: -381%;
    left: 74%;
  }
}
.dummyuser2_table5 {
  -webkit-animation: dummySecondUser5 0.5s linear;
  -moz-animation: dummySecondUser5 0.5s linear;
  animation: dummySecondUser5 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummySecondUser5 {
  0% {
    top: -651%;
    left: 643%;
  }
}

@-moz-keyframes dummySecondUser5 {
  0% {
    top: -651%;
    left: 643%;
  }
}

@-webkit-keyframes dummySecondUser5 {
  0% {
    top: -651%;
    left: 643%;
  }
}
.dummyuser2_table6 {
  -webkit-animation: dummySecondUser6 0.5s linear;
  -moz-animation: dummySecondUser6 0.5s linear;
  animation: dummySecondUser6 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummySecondUser6 {
  0% {
    top: -651%;
    left: 468%;
  }
}

@-moz-keyframes dummySecondUser6 {
  0% {
    top: -651%;
    left: 468%;
  }
}

@-webkit-keyframes dummySecondUser6 {
  0% {
    top: -651%;
    left: 468%;
  }
}
.dummyuser2_table7 {
  -webkit-animation: dummySecondUser7 0.5s linear;
  -moz-animation: dummySecondUser7 0.5s linear;
  animation: dummySecondUser7 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummySecondUser7 {
  0% {
    top: -651%;
    left: 273%;
  }
}

@-moz-keyframes dummySecondUser7 {
  0% {
    top: -651%;
    left: 273%;
  }
}

@-webkit-keyframes dummySecondUser7 {
  0% {
    top: -651%;
    left: 273%;
  }
}
.dummyuser2_table8 {
  -webkit-animation: dummySecondUser8 0.5s linear;
  -moz-animation: dummySecondUser8 0.5s linear;
  animation: dummySecondUser8 0.5s linear;
  animation-iteration-count: 1;
}

@keyframes dummySecondUser8 {
  0% {
    top: -651%;
    left: 121%;
  }
}

@-moz-keyframes dummySecondUser8 {
  0% {
    top: -651%;
    left: 121%;
  }
}

@-webkit-keyframes dummySecondUser8 {
  0% {
    top: -651%;
    left: 121%;
  }
}

/* dummy secomnd user betplace style End */

.roundidtxtstyle {
  animation: 2.5s anim-popoutin ease infinite;
}

@keyframes anim-popoutin {
  0% {
    color: #028ba9;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(243, 70, 70, 0);
  }
  25% {
    color: #b9bb44c0;
    transform: scale(1.5);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(32, 12, 12, 0.5);
  }
  50% {
    color: #028ba9;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(243, 70, 70, 0);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(248, 65, 65, 0);
  }
}
._box {
  width: 70px;
  white-space: nowrap;
  text-align: center;
}
