@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300&family=Poppins&family=Roboto:ital,wght@0,100;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  --timerDuration: 13s;
  background-color: black;
  -webkit-tap-highlight-color: transparent;
  /* background-color: #0e334d; */
  /* --dede: 0deg; */
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "cartenr";
  src: url("fonts/CarterOne.eot");
  src: url("fonts/CarterOne.eot") format("embedded-opentype"),
    url("fonts/CarterOne.woff2") format("woff2"),
    url("fonts/CarterOne.woff") format("woff"),
    url("fonts/CarterOne.ttf") format("truetype"),
    url("fonts/CarterOne.svg#CarterOne") format("svg");
}

body {
  font-family: "League Gothic", sans-serif;
  /* font-weight: bold; */
}

#gamemenu_container {
  width: 398px;
  height: 281px;
  margin: 345px 0 0 -2px;
  background-image: url("../assets/images/desktopimg/tablebg.png");
  background-size: cover;
}

.topbgwheel {
  position: absolute;
  width: 367px;
  height: 45px;
  top: 126px;
  left: 12px;
  background-image: url("../assets/images/desktopimg/resulttable.png");
  background-size: cover;
}

.bottombg {
  position: absolute;
  left: -111px;
  top: 80%;
  width: 608px;
  height: 58px;
  background-image: url("../assets/images/desktopimg/bottombg.png");
  background-size: cover;
}

.gameUserImg img {
  width: 132px;
  height: 132px;
  margin: 27px 0 0 2px;
}

#wrapper {
  width: 395;
  height: 750;
}

@supports (-webkit-touch-callout: none) {
  .numberchips {
    margin-top: -23px;
    margin-left: -8px;
  }
  .chipsSelectionRightBtn {
    margin-left: 0px !important;
  }
  .buttonchipsSelection {
    bottom: 7% !important;
  }
}

body {
  touch-action: manipulation;
}

/* .game_rouletteholder {
  height: auto;
  width: 1290px;
  margin: auto;
} */

.numberhistorybox {
  height: 145px;
  width: auto;
}
.game_wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("images/maintestbg.png");
  background-size: cover;
}
.numberhistory {
  position: relative;
  top: -212px;
  left: 20px;
  height: 38px;
  width: 350px;
  padding: 4px;
  gap: 12px;
  display: flex;
}

.numberbox {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  cursor: pointer;
}
.audiotxt {
  right: 35.4%;
}
#audio_icon {
  position: absolute;
  right: 3.6%;
  top: 2%;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
}

#audio_icon:hover {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.audio_icon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-image: url("../assets/images/audio.png");
  background-size: cover;
}
.muteaud_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../assets/images/silent.png");
  background-size: cover;
}
.musictxt {
  right: 29.6%;
}

.mutmusic_icon {
  width: 37px;
  height: 37px;
  background-image: url("../assets/images/mute.png");
  background-size: cover;
  cursor: pointer;
}
.rulestxt {
  right: 17.5%;
}

#rule_icon {
  position: absolute;
  right: 12%;
  top: 3%;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
}
#rule_icon:hover {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.rule_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../assets/images/rules.png);
  background-size: cover;
}

.audiotransition {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
/* text for menu bar  */

.comtxt {
  color: #fff;
  position: absolute;
  top: 8.5%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
#mybetsection {
  position: absolute;
}

.mybetsectionstyle {
  width: 110px;
  height: 38px;
  margin: 55px 0 0px 31px;
  background-image: url("../assets/images/mybetbg.png");
  background-size: cover;
  cursor: pointer;
}

/* roulette key  */

@supports (-webkit-touch-callout: none) {
  .roulettekey_style {
    -webkit-text-size-adjust: 100%;
    font-size: unset;
  }
  .rightbutton {
    white-space: nowrap;
    padding-left: 10px;
    -webkit-text-size-adjust: 100%;
    font-size: unset;
  }
  .buttonchipsSelection {
    bottom: 16% !important;
  }
}

/* right button end */

/* betbutton style start */
.betbutton {
  margin: 840px 0px 0px 39px;
}

.betbuttonstyle {
  margin: 0 0 0 10px;
}
.betbuttonstyle_1 {
  margin: -120px 0 0 1419px;
}

.betbutton button {
  border: none;
  background-color: transparent;
  border-radius: 15px;
}

/* betbutton style end */

/* game_rouletteholder */

.wheeltextstyle {
  width: 30.359073px;
  height: 30.359073px;
  display: block;
  /* border: 0.2px solid black; */
  text-align: center;
  padding-top: 0px;
  font-size: 26px;
  margin: 0px;
  letter-spacing: 0.3px;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-top: 0px solid #00f;
  /* border-bottom: 45px solid rgba(0, 0, 0, 0.599);*/
}
/* span:hover {
  background-color: rgba(76, 0, 255, 0.725) !important;
} */

.changebackground,
.permanetchangebackground {
  filter: brightness(100%);
}

/* .removepchbg {
  filter: brightness(100%);
} */

.changebackgroundred {
  /* background-color: #d32f2f !important; */
  filter: brightness(100%);
  /* margin-top: -4px; */
  /* box-shadow: 0px 6px darkolivegreen; */
}

/* slider box start */

* {
  box-sizing: border-box;
}

/* #sliderbarhead {
  margin-top: -471px;
  margin-left: 572px;
} */

/* body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #008c9e, #00dffc);
} */

#coinchipselection {
  position: relative;
  display: flex;
  flex-direction: row;
  top: -6px;
  left: 58px;
  justify-content: space-between;
  max-width: 290px;
  z-index: 1;
}

#coinchipselection img {
  width: 33px;
}
/* .bgboxshadow {
  box-shadow: 0px 7px 7px rgb(255 255 255 / 30%);
} */

.slider {
  position: relative;
  padding: 2px 20px;
  width: 100%;
  max-width: 406px;
  margin-top: -55px;
  margin-left: 181px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #00000052;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 50%);
}
.slider .slider-items-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  transition: transform 0.35s ease-in-out;
}
.slider .slider-items-container img {
  /* max-width: 100%; */
  display: block;
}
.slider .controls {
  position: relative;
  top: -20px;
  width: 100%;
  /* margin-top: 23px; */
  /* padding: 9px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
}
.slider .controls a {
  color: #43a6a8;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  position: absolute;
  background-color: #0e334d;
  padding: 30px 12px;
}
.slider .controls a:hover {
  color: #888;
}
.slider .dots {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
.slider .dots .dot {
  width: 10px;
  height: 10px;
  background: #333;
  transition: 0.15s ease-in-out;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 20px;
}
.slider-item img {
  cursor: pointer;
  margin: 0.5em;
  width: 63px;
}
.next-btn {
  left: 342px;
}
.prev-btn {
  left: -21px;
}
.slider-items-container .active {
  /* background: grey; */
  background-image: url("../assets/images/activeclass.png");
  background-size: cover;
  /* scale: 1.3; */
  border-radius: 8px;
}
.slider .dots .dot.active {
  background: #888;
  -webkit-transition: -webkit-transform all 0.5s;
  -moz-transition: transform all 0.5s;
  -o-transition: transform all 0.5s;
  transition: all 0.5s;
}
/* slider box end */

/* money section start */

.chip_10 {
  background-image: url("../assets/images/10_chip.png");
}
.chip_25 {
  background-image: url("../assets/images/25_chip.png");
}
.chip_50 {
  background-image: url("../assets/images/50_chip.png");
}
.chip_100 {
  background-image: url("../assets/images/100_chip.png");
}
.chip_500 {
  background-image: url("../assets/images/500_chip.png");
}
.chip_1000 {
  background-image: url("../assets/images/1000_chip.png");
}
/* .allinone {
  background-image: url("../assets/images/all_in_chip.png");
} */

/* .chipValue {
  transform: scale(1, 1);
}
.chipValue:hover {
  transform: scale(0.9, 0.9);
} */

.chipValue {
  position: relative;
  cursor: pointer;
  /* -webkit-transition: -webkit-transform all 0.5s;
  -moz-transition: transform all 0.5s;
  -o-transition: transform all 0.5s;
  transition: all 0.5s; */
}

.moneybutton {
  margin: -660px 0px 0px 241px;
  width: 45px;
  height: 93px;
}

.coinamountfield img {
  z-index: 3;
  margin: -1px 3px 0px -12px;
  height: 40px;
  width: 40px;
}

.coinamountfield {
  display: flex;
  margin: 9px 0 0 -237px;
  width: 135px;
  height: 48px;
  padding: 9px 0px 0px 39px;
  background-image: url("../assets/images/desktopimg/usermainamountbg.png");
  background-size: cover;
}

.betamountfield {
  display: flex;
  width: 121px;
  height: 42px;
  z-index: 3;
  margin: 118px 0px 0px -240px;
  background-image: url("../assets/images/desktopimg/betamount.png");
  background-size: cover;
}
/* .betamountfield img {
 
} */
/* money section start */

/*-- Loader CSS Starts --*/
#html5Loader {
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  z-index: 3;
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDA3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzAwMDAzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #ffffff),
    color-stop(49%, #ffffff)
  );
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: linear-gradient(to right, #ffffff 0%, #ffffff 49%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}

#html5Loader .fallback {
  top: 50%;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  /*vertical-align: middle;*/
  /*display: block;font-style: normal;font-size:100px;*/
}

div#DvLoaderCont {
  width: 300px;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  z-index: 100;
  background: #ffffff;
  overflow: hidden;
}

div#DvLoaderProgress {
  width: 300px;
  height: 15px;
  position: absolute;
  top: 0px;
  left: -300px;
  background: #0079c0;
}

/* keyActionFunction Style */

.currSign {
  height: 31px;
  font-size: 14px;
  margin-top: 24px;
  display: inline-block;
  text-align: center;
  color: #fff;
  z-index: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 115px;
  font-family: "Bebas Neue";
  max-width: 115px;
}

.totalcurrSign {
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  width: 81px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Bebas Neue";
}
.totalcurrSign:hover {
  overflow: inherit !important;
  text-overflow: inherit !important;
}

.resultNumberCir {
  position: absolute;
  left: 161px;
  top: 165px;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  z-index: 4;
  display: none;
}
.resultBgBlue {
  background-color: #028ba9;
}
.resultBgPink {
  background-color: #a90270;
}
.resultBggreen {
  background-color: #42bd5c;
}

.resultNumberCirtext {
  font-size: 210px;
  color: #fff;
  text-align: center;
  margin: 8px 0px 0px 0px;
}

.hisTextStyle {
  font-size: 17px;
  border-radius: 50%;
  font-family: "Poppins";
  text-align: center;
  color: #fff;
  padding: 2px;
}

.bettingStart {
  position: absolute;
  align-items: center;
  top: 35%;
  height: 66px;
  display: flex;
  left: -276px;
}

.bettingStartimg {
  -webkit-animation: battingspin 2s linear;
  -moz-animation: battingspin 2s linear;
  animation: battingspin 2s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes battingspin {
  0% {
    left: 17%;
  }

  90% {
    left: 17%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes battingspin {
  0% {
    left: 17%;
  }

  90% {
    left: 17%;
  }

  100% {
    left: 100%;
  }
}

@keyframes battingspin {
  0% {
    left: 17%;
  }

  90% {
    left: 17%;
  }

  100% {
    left: 100%;
  }
}

.threezeroselection {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -15px;
  left: -15px;
  background-size: cover;
}
#bettingText {
  position: absolute;
  width: 276px;
  height: 49px;
  z-index: 3;
}

.bettingStartTxt {
  background-image: url("../assets/images/desktopimg/startbettingtxt.png");
  background-size: cover;
}
.bettingStopTxt {
  background-image: url("../assets/images/desktopimg/stopbettingtxt.png");
  background-size: cover;
}
.bettingWattingTxt {
  background-image: url("../assets/images/desktopimg/waitingtxt.png");
  background-size: cover;
}

.numberlock {
  width: 100%;
  height: 185px;
  background-color: rgb(0 0 0 / 51%);
  z-index: 20;
  margin-top: 460px;
  position: relative;
}
.blurdiv {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.clockcolor {
  z-index: 1;
  position: absolute;
  font-size: 30px;
  text-align: center;
  padding: 0px 0 0 0;
  width: 241px;
  height: 8px;
  color: #fff;
  margin: 0px 0 0 -41px;
  border: 2px solid #6a1c96;
  border-radius: 8px;
}

#timercount {
  position: absolute;
  font-size: 12px;
  color: #ffad18;
  width: 38px;
  margin: -26px 0 0 56px;
  font-family: "Inter";
}
.stclss {
  font-size: 9px;
  width: 130px;
  margin: -24px 0 0 5px;
  color: #fff;
  font-family: "Inter";
}
.secstyle {
  font-size: 11px;
  width: 24px;
  margin: -26px 196px 0px 0px;
  color: #ffad18;
  font-family: "Inter";
}
.timeclsprn {
  display: flex;
  width: 283px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 23px;
}
.progressbar {
  position: absolute;
  width: 241px;
  border-radius: 8px;
  background-color: #050e1d;
}

.progress_bar_inner {
  border: 1px solid rgb(153, 25, 210);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(153, 25, 210);
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

/* .progressbar .inner {
  height: 8px;
  border-radius: 8px;
  animation: progressbar-countdown;
  animation-duration: var(--timerDuration);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-timing-function: linear;
} */
/* 
@-webkit-keyframes progressbar-countdown {
  0% {
    width: 0%;
    background: rgb(153, 25, 210);
  }
  100% {
    width: 100%;
    background: rgb(153, 25, 210);
  }
}
@-moz-keyframes progressbar-countdown {
  0% {
    width: 0%;
    background: rgb(153, 25, 210);
  }
  100% {
    width: 100%;
    background: rgb(153, 25, 210);
  }
}
@keyframes progressbar-countdown {
  0% {
    width: 0%;
    background: rgb(153, 25, 210);
  }
  100% {
    width: 100%;
    background: rgb(153, 25, 210);
  }
} */

#clockimg {
  width: 75px;
  height: 80px;
  margin-left: 41px;
  /* display: none; */
}

#gameTimerOut {
  position: absolute;
  top: 377px;
  left: 79px;
}

.messageEnoughBox {
  position: absolute;
  top: 847px;
  left: 104px;
  width: 299px;
  height: 89px;
  z-index: 8;
  background-image: url("../assets/images/lowbalance.png");
  background-size: cover;
  display: none;
}

.resultShowBox {
  position: absolute;
  top: 219px;
  width: 589px;
  height: 589px;
  left: 64px;
  font-size: 77px;
  padding: 203px 0 0 0;
  color: #fff;
  /* border: 3px solid rebeccapurple; */
  border-radius: 50%;
  background-color: #07355199;
  text-align: center;
  font-family: "League Gothic";
  font-style: normal;
  background-size: cover;
  z-index: 100;
  display: none;
}
.resultShowBox img {
  position: absolute;
  width: 700px;
  height: 700px;
  background-size: cover;
  top: -56px;
  left: -61px;
  z-index: -1;
}

.resultShowimg {
  -webkit-animation: resultShowspin 3s linear;
  -moz-animation: resultShowspin 3s linear;
  animation: resultShowspin 3s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes resultShowspin {
  0% {
    left: 2px;
  }

  90% {
    left: 2px;
  }

  100% {
    left: -335px;
  }
}

@-webkit-keyframes resultShowspin {
  0% {
    left: 2px;
  }

  90% {
    left: 2px;
  }

  100% {
    left: -335px;
  }
}

@keyframes resultShowspin {
  0% {
    left: 2px;
  }

  90% {
    left: 2px;
  }

  100% {
    left: -335px;
  }
}

#stopbettxt {
  position: absolute;
  z-index: 5;
  left: -90%;
  top: 352px;
  width: 353px;
  height: 65px;
  background-image: url("../assets/images/desktopimg/stopbettingtxt.png");
  background-size: cover;
}

.stopbetanm {
  -webkit-animation: stopgameN 2s linear;
  -moz-animation: stopgameN 2s linear;
  animation: stopgameN 2s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes stopgameN {
  0% {
    left: 3%;
  }

  90% {
    left: 3%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes stopgameN {
  0% {
    left: 3%;
  }

  90% {
    left: 3%;
  }

  100% {
    left: 100%;
  }
}

@keyframes stopgameN {
  0% {
    left: 3%;
  }

  90% {
    left: 3%;
  }

  100% {
    left: 100%;
  }
}
#gamestart {
  position: absolute;
  z-index: 5;
  left: -90%;
  top: 352px;
  width: 347px;
  height: 57px;
  background-image: url("../assets/images/desktopimg/startbettingtxt.png");
  background-size: cover;
}
.betStart {
  -webkit-animation: startgameN 2s linear;
  -moz-animation: startgameN 2s linear;
  animation: startgameN 2s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes startgameN {
  0% {
    left: 5%;
  }

  90% {
    left: 5%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes startgameN {
  0% {
    left: 5%;
  }

  90% {
    left: 5%;
  }

  100% {
    left: 100%;
  }
}

@keyframes startgameN {
  0% {
    left: 5%;
  }

  90% {
    left: 5%;
  }

  100% {
    left: 100%;
  }
}
#waitfornext {
  position: absolute;
  z-index: 5;
  left: -99%;
  top: 369px;
  width: 396px;
  height: 36px;
  background-image: url("../assets/images/desktopimg/waitingtxt.png");
  background-size: cover;
}

.bettingwait {
  -webkit-animation: waitfor 3s linear;
  -moz-animation: waitfor 3s linear;
  animation: waitfor 3s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes waitfor {
  0% {
    left: 0%;
  }

  90% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes waitfor {
  0% {
    left: 0%;
  }

  90% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@keyframes waitfor {
  0% {
    left: 0%;
  }

  90% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

.gameUserId {
  position: absolute;
  top: 64.1%;
  left: 37.3%;
  width: 514px;
}
.gameUserIdtxt {
  font-size: 30px;
  margin-left: 11px;
  margin-top: 23px;
  height: 38.26px;
  color: #fff8b0;
  overflow: hidden;
  width: 178px;
  padding: 6px 0px 0 0px;
  text-overflow: ellipsis;
  font-family: "Bebas Neue";
  z-index: 1;
  text-align: center;
}

.gameUserIdtxt:hover {
  overflow: inherit !important;
  text-overflow: inherit !important;
}

.gameUserBox {
  height: 80.26px;
  display: flex;
}
.gameidtext {
  width: 201px;
  height: 65px;
  font-size: 38px;
  color: #fff8b0;
  text-align: center;
  margin-left: auto;
  padding: 11px;
  /* margin: 0px 0px 0px 1116.7px; */
  font-family: "Bebas Neue";
  background: linear-gradient(0deg, #1e4e4f 0%, #50c6ca 100%);
  box-shadow: inset 0px -5.32597px 31.9558px rgb(0 0 0 / 16%);
  border-radius: 0px 0px 15.9779px 15.9779px;
}

.gameUserImg {
  width: 102px;
  height: 102px;
  margin: -10px 0px 0px 209px;
  border-radius: 50%;
  z-index: 1;
  background-size: cover;
}

.scoreanimation {
  -webkit-animation: scorespin 1s linear;
  -moz-animation: scorespin 1s linear;
  animation: scorespin 1s linear;
  animation-iteration-count: 1;
}
@keyframes scorespin {
  from {
    /* position: absolute; */
    left: 558px;
    top: 221px;
    transform: scale(1, 1);
    border-radius: 50%;
  }

  to {
    left: 0px;
    top: 0px;
    /* width: 40px;
    height: 40px; */
    transform: scale(0.3, 0.3);
    border-radius: 0%;
  }
}
@-webkit-keyframes scorespin {
  from {
    /* position: absolute; */
    left: 558px;
    top: 221px;
    transform: scale(1, 1);
    border-radius: 50%;
  }

  to {
    left: 0px;
    top: 0px;
    /* width: 40px;
    height: 40px; */
    transform: scale(0.3, 0.3);
    border-radius: 0%;
  }
}
@-moz-keyframes scorespin {
  from {
    /* position: absolute; */
    left: 558px;
    top: 221px;
    transform: scale(1, 1);
    border-radius: 50%;
  }

  to {
    left: 0px;
    top: 0px;
    /* width: 40px;
    height: 40px; */
    transform: scale(0.3, 0.3);
    border-radius: 0%;
  }
}

/* wait for next bet if user new join or reload on play time */

.waitTimeReload {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.34);
}
.waitingImage {
  top: 14%;
  left: 0px;
  background-color: rgb(0 0 0 / 42%);
  position: absolute;
  width: 380px;
  height: 750px;
  z-index: 5;
}

#waitingImageTxt {
  position: absolute;
  top: 32%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-size: 110px;
}

/* start mybet style */
#betPopup {
  position: absolute;
  top: 0px;
  width: 395px;
  height: 750px;
  z-index: 99999991;
  display: none;
  background-color: rgba(0, 0, 0, 0.24);
}
#betText {
  position: absolute;
  width: 335px;
  height: 562px;
  top: 13%;
  left: 9%;
  background-image: url("../assets/images/mybethis.png");
  background-size: cover;
  display: inline-flex;
  /* transition: 0.6s; */
}
.history_playerType {
  margin-right: 39px;
}

.betclosepop {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  border-radius: 50%;
}

#outerbetpopup {
  width: 100%;
  height: 100%;
  background: rgba(8, 27, 72, 0.5);
  backdrop-filter: blur(8px);
}

/* close mybet style */

#rulePopup {
  position: absolute;
  top: 0px;
  width: 395px;
  height: 750px;
  z-index: 99999991;
  display: none;
  background-color: rgba(0, 0, 0, 0.199);
}
#rulePopupText {
  position: absolute;
  width: 364px;
  height: 689px;
  border-radius: 20px;
  top: 6%;
  left: 3%;
  /* background-image: url("../assets/images/gamerulepopup.png"); */
  background-color: #0079c0;
  background-size: cover;
  display: inline-flex;
  /* transition: 0.6s; */
}

.gamebody_container {
  position: relative;
  top: -87px;
}

/* for chips color number  */

:root {
  --percentage: "initial-value:100%";
}

/* ._percentage {
  initial-value: var(--percentage);
} */

/* pie timer end*/

.sliderchild {
  display: flex;
  overflow: scroll;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -ms-scroll-snap-points-x: repeat(75.72px);
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(75.72px);
  border-radius: 5px;
}

.sliderImgholder {
  height: auto;
  text-align: center;
  margin: auto 5px;
  width: 100%;
  border-radius: 5px;
  scroll-snap-align: start;
  text-align: center;
}

.sliderImgholder img {
  object-fit: cover;
  height: 33px;
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sliderImgholder.active {
  border: 1px solid rgba(204, 204, 204, 0.725);
  /* padding: 8px; */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
.active {
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  margin-top: -17px;
  -webkit-transition: -webkit-transform all 0.5s;
  -moz-transition: transform all 0.5s;
  -o-transition: transform all 0.5s;
  transition: all 0.5s;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}
/* custom slider */
.chosenOne {
  background-color: #000 !important;
  border: 5px solid pink;
}
#content {
  display: inline-flex; /* or whatever */
  transition: 0.6s;
}

/* Login Page   */
.signupPage {
  position: absolute;
  margin: 0;
  width: 380px;
  height: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background-image: url("../assets/images/signupbg.svg");
  background-size: cover;
}

.closepop {
  margin: -18px 0px 0 328px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url("../assets/images/desktopimg/closebtn.png");
  background-size: cover;
}

#outerborderpopup {
  width: 380px;
  height: 750px;
  background-color: rgb(0 0 0 / 12%);
}

#mobileWrapper {
  width: 380px;
  height: 750px;
}

#neterrorprnt {
  display: none;
}

#internet_error {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 167px;
  left: 26px;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  font-family: "League Spartan";
}

.playernotxt {
  width: 92px;
  font-size: 36px;
  color: #4ae456;
  text-align: center;
  margin: 22px 0 0 106px;
}
.liveresultcommanstyle {
  position: absolute;
  width: 346px;
  height: 788px;
  z-index: 6;
  margin-left: 11px;
  overflow: hidden;
}

.alldataresult {
  color: #f3e88a;
  font-size: 36px;
}
#liveresultprt {
  height: 2399px;
  overflow-y: scroll;
  margin-top: 794px;
}
.livescrollfun {
  animation: scroll 15s linear 1;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.firstuserprofileStyle {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 317px;
  left: 1%;
  background-image: url("../assets/images/desktopimg/firstuser.png");
  background-size: cover;
}
.userprofileSctStyle {
  position: absolute;
  width: 240px;
  height: 75px;
  background-image: url("../assets/images/desktopimg/secontuser.png");
  background-size: cover;
}
.usersecfileSctStyle {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../assets/images/desktopimg/actsecuser.png");
  background-size: cover;
}

#firstuserprofile_1 {
  top: 457px;
  left: 142px;
}
#firstuserprofile_2 {
  top: 647px;
  left: 216px;
}

#seconduserprofile {
  top: 315px;
  left: 355px;
}

.usersecfileactStyle {
  position: absolute;
  top: 672px;
  left: 717px;
  width: 513px;
  height: 126px;
  /* background-image: url("../assets/images/desktopimg/activeuserpro.png"); */
  background-size: cover;
}

.bettingtableStyle_1 {
  position: absolute;
  width: 119px;
  height: 109px;
  background-image: url("../assets/images/desktopimg/firstbettable.png");
  background-size: cover;
  /* cursor: pointer;
  transform: scale(0.9, 0.9);
  transition: all 0.5s; */
}
.bettingtableStyle_2 {
  position: absolute;
  width: 119px;
  height: 109px;
  background-image: url("../assets/images/desktopimg/secondbettable.png");
  background-size: cover;
  /* cursor: pointer;
  transform: scale(0.9, 0.9);
  transition: all 0.5s; */
}

#bettingtable_1 {
  top: 414px;
  left: 53px;
}
#bettingtable_2 {
  top: 414px;
  left: 200px;
}

.firstbetplaceprntstyle {
  position: relative;
  width: 91px;
  height: 41px;
  margin: 22px 0 0 1px;
  /* cursor: pointer; */
}
.secondbetplaceprntstyle {
  position: relative;
  width: 91px;
  height: 41px;
  margin: 22px 0 0 1px;
  /* cursor: pointer; */
}
/* .thirdbetplaceprntstyle {
  position: relative;
  width: 258px;
  height: 191px;
  margin: 87px 0 0 6px;
  cursor: pointer;
} */
.betchipimgbgposition {
  position: absolute;
  width: 15px;
  height: 15px;
  background-size: cover;
}

.resultBg {
  position: absolute;
  top: 41%;
  left: 2%;
  width: 382px;
  height: 239px;
  background-image: url("../assets/images/desktopimg/cardresultbg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 5px;
  z-index: 20;
}
.card-front {
  background-image: url("../assets/images/desktopimg/cardback.png");
  background-size: cover;
}

/* .card {
  margin-top: 115px;
  width: 92px;
  height: 137px;
} */

#cardplace_3 {
  margin-right: 20px;
}

.card {
  margin-top: 93px;
  width: 44px;
  height: 67px;
  perspective: 800px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  /* background-color: blue; */
  transform: rotateY(0deg);
}

.card-back {
  /* background-color: red; */
  transform: rotateY(180deg);
}

.showcard {
  transform: rotateY(180deg);
}
.card-back img {
  width: 44px;
  height: 67px;
}
.winnerimg {
  width: 120px;
  height: 116px;
  background-image: url("../assets/images/desktopimg/woncup.png");
  background-size: cover;
}
.dealearimgstyle {
  position: absolute;
  margin: -159px 0 0 127px;
  width: 150px;
  height: 160px;
  background-image: url("../assets/images/desktopimg/dealearimg.png");
  background-size: cover;
}

#firstuserwin {
  position: absolute;
  margin-left: -63px;
  margin-top: -34px;
}

#seconduserwin {
  position: absolute;
  margin-top: -30px;
  margin-left: 107px;
  z-index: 5;
}
#table_2 {
  margin-left: 2px;
  margin-top: 36px;
  z-index: 5;
}
/* canvas {
  background-image: url("images/desktopimg/landing_page.png");
  background-size: cover;
} */
#roundidtxt {
  position: absolute;
  margin-top: -42px;
  margin-left: 144px;
}
.roundidtxtstyle {
  color: #fff;
  text-align: center;
  font-size: 12px;
}
/* .scalediv {
  transform: scale(1, 1);
  transition: all 0.5s;
  border-radius: 7px;
  box-shadow: 7px 7px 7px rgb(255 255 255 / 20%);
} */

#resultPopup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #00000048;
  display: none;
}
.resultclosepop {
  margin-top: -19px;
  margin-right: -13px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url("../assets/images/desktopimg/closebtn.png");
  background-size: cover;
}
#outerresultborder {
  width: 395px;
  height: 750px;
  background: rgba(8, 27, 72, 0.5);
  backdrop-filter: blur(8px);
}

#resultPopupText {
  position: absolute;
  width: 373px;
  height: 260px;
  border-radius: 20px;
  top: 32%;
  left: 3%;
  background-color: #010723;
  background-size: cover;
  overflow: visible;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  box-shadow: 0px 4px 20px rgb(172 211 248 / 81%);
}
.resultptrStyle {
  display: flex;
  position: absolute;
  gap: 4px;
  top: 51%;
  left: 6%;
  width: 352px;
  height: 121px;
}
.resultStyle img {
  width: 51px;
  height: 72px;
}
#resultimg3 {
  margin-right: 25px;
}
#resulttilte {
  position: absolute;
  top: 33%;
  left: 5%;
  width: 355px;
  height: 40px;
  z-index: 1;
  background-image: url("../assets/images/desktopimg/resultimg.png");
  background-size: cover;
}
#resultFirstshow {
  position: absolute;
  width: 80px;
  height: 77px;
  top: 40%;
  left: 17%;
  z-index: 1;
}
#resultSecondshow {
  position: absolute;
  width: 80px;
  height: 77px;
  top: 40%;
  left: 65%;
  z-index: 1;
}

#resultcup {
  position: absolute;
  top: 406px;
  left: 122px;
  z-index: 21;
}
#gamePlayerOds {
  position: absolute;
  top: 647px;
  width: 100%;
  height: 15%;
}
.firstPlayerOdstyle {
  position: absolute;
  color: #ffffff;
  padding: 17px 14px 0 00;
  font-size: 12px;
  text-align: right;
  font-family: Inter;
  top: 29px;
  left: 20px;
  width: 110px;
  height: 46px;
  background-image: url("../assets/images/desktopimg/playerA.png");
  background-size: cover;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
}

.firstPlayerOdstyle:hover {
  padding: 17px 16px 0 0px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.secondPlayerOdstyle {
  position: absolute;
  color: #ffffff;
  padding: 17px 14px 0 00;
  font-size: 12px;
  text-align: right;
  font-family: Inter;
  left: 270px;
  top: 29px;
  width: 110px;
  height: 48px;
  background-image: url("../assets/images/desktopimg/playerB.png");
  background-size: cover;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
}
.secondPlayerOdstyle:hover {
  padding: 17px 16px 0 0px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.libinnerdata {
  position: absolute;
  color: #fff;
  font-size: 12px;
  width: 110px;
  margin-top: 100px;
  text-align: center;
  font-family: Inter;
}
#libinnerdata_1 {
  margin-left: 18px;
}
#libinnerdata_2 {
  margin-left: 269px;
}
.mybetnumberStyle {
  color: #fff;
  font-size: 19px;
  width: 30px;
  height: 30px;
  margin: 3px 0 0 76px;
  padding-top: 5px;
  border-radius: 50%;
  /* background-color: #982626; */
  text-align: center;
  cursor: pointer;
}

.mybetdetalisstyle {
  position: relative;
  top: 140px;
  height: 409px;
  width: 90%;
  margin-left: 6px;
  z-index: 99;
  overflow: scroll; /* Set the overflow property to "scroll" */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling for iOS devices */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide the scrollbar on IE and Edge */
}

#exbalBg {
  position: absolute;
  width: 120px;
  height: 31px;
  left: 4px;
  top: 75px;
  font-size: 16px;
  color: #fff;
  text-align: right;
  padding: 7px 14px 00 0;
  background-image: url("../assets/images/desktopimg/expBg.png");
  background-size: cover;
}
#expBlsTxt {
  color: #ffffff;
  font-size: 12px;
  margin: 1px 0px 0 45px;
  width: 69px;
  font-family: Poppins;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
#expBlsTxt:hover {
  overflow: inherit !important;
  text-overflow: inherit !important;
}
.historyuserhis_child_style {
  width: 95.6%;
  /* height: 173px; */
  margin: 9px 0 0 9px;
  border-radius: 10px;
}

.history_first_div {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 11px;
  padding-top: 3px;
  font-family: "Poppins";
  border-bottom: 1px solid #b716e2;
}

.playerA_txtStyle {
  position: absolute;
  color: #fff;
  top: 463px;
  left: 59px;
  text-align: center;
  font-size: 21px;
  width: 88px;
  height: 28px;
  border: 1px solid #aea6c5;
  border-radius: 5px;
}
.playerB_txtStyle {
  position: absolute;
  color: #fff;
  top: 463px;
  left: 252px;
  text-align: center;
  font-size: 21px;
  width: 88px;
  height: 28px;
  border: 1px solid #aea6c5;
  border-radius: 5px;
}

.changecolorResultBg {
  background-color: green;
}

.menuBtnStyle {
  position: absolute;
  top: 16px;
  left: 305px;
  width: 32px;
  height: 32px;
  background-image: url("../assets/images/desktopimg/menubtn.png");
  background-size: cover;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
  display: none;
}
.menuBtnStyle:hover {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.chiptxtStyle {
  position: absolute;
  font-family: "League Gothic";
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
#chiptxt_1 {
  top: 30%;
  left: 31%;
}
#chiptxt_2 {
  top: 30%;
  left: 37%;
  color: #e95b01;
}
#chiptxt_3 {
  top: 30%;
  left: 34%;
  color: #012abc;
}
#chiptxt_4 {
  top: 30%;
  left: 36%;
  color: #dd140e;
}
#chiptxt_5 {
  top: 30%;
  left: 31%;
  color: #007c20;
}
#chiptxt_6 {
  top: 30%;
  left: 31%;
  color: #b20188;
}
/* bet confirm popup start */

.settingprnt {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #0102023a;
  z-index: 999999;
  display: none;
}
.settinginsidetxt {
  width: 100%;
  height: 109px;
}
.settingpage {
  position: absolute;
  width: 330px;
  height: 207px;
  top: 449px;
  left: 32px;
  border-radius: 20px;
  border: 3px solid #78269c;
  background-color: #0f0123;
  filter: drop-shadow(0px 0px 4px #c1a2eb);
}
.closebtn {
  position: absolute;
  right: -17px;
  top: -16px;
  width: 35px;
  height: 35px;
  z-index: 1;
  cursor: pointer;
  background-image: url("../assets/images/crossbtn.png");
  background-size: cover;
}
.toptitleinfoStyle {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 63px;
  border-radius: 20px 20px 0px 0px;
  /* background-color: #380f6b; */
}
#toptxt {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
  font-weight: bold;
  padding-top: 18px;
}
.insidetxtfunction123 {
  display: flex;
  margin-top: 58px;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  gap: 15px;
}
.valueStyleDec {
  width: 30px;
  height: 35px;
  line-height: 0;
  background-color: green;
  text-align: center;
  cursor: pointer;
  transform: scale(1, 1);
}
.valueStyleDec:hover {
  transform: scale(0.9, 0.9);
}
.valueStyleInc {
  width: 30px;
  height: 35px;
  line-height: 34px;
  background-color: red;
  text-align: center;
  cursor: pointer;
  transform: scale(1, 1);
}
.valueStyleInc:hover {
  transform: scale(0.9, 0.9);
}

.betAmountDataStyle {
  text-align: center;
  font-size: 17px;
  width: 142px;
  font-family: Poppins;
  color: #fff;
  background-color: #000;
  border: 1px solid;
}
.textInfo {
  text-align: center;
  font-size: 13px;
  margin-top: 24px;
  color: #fff;
  font-family: Poppins;
}
#btnsty {
  margin-top: 14px;
  text-align: center;
}
#betplacebtn {
  cursor: pointer;
  z-index: 1;
  width: 96px;
  height: 35px;
  color: #fff;
  outline: none;
  overflow: hidden;
  font-family: Inter;
  font-size: 13px;
  background: #441835;
}

/* bet confirm popup start */
#mainprntData {
  position: absolute;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  width: 127px;
  gap: 23px;
  top: 25%;
  right: 3%;
}
#mindata {
  display: flex;
  gap: 5px;
}
#maxdata {
  display: flex;
  gap: 5px;
}
.gameRIdStyle {
  position: absolute;
  color: #fff;
  top: 284px;
  left: 120px;
  z-index: 2;
  font-size: 12px;
  font-family: Inter;
}
