@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300&family=Poppins&family=Roboto:ital,wght@0,100;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins&family=Roboto:wght@700&display=swap");

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  --timerDuration: 13s;
  background-color: #08050c;
  -webkit-tap-highlight-color: transparent;
  /* --dede: 0deg; */
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  font-family: "League Gothic", sans-serif;
}

#gamemenu_container {
  position: absolute;
  width: 391px;
  height: 273px;
  margin: 359px 0 0px 3px;
  background-image: url("../assets/images/desktopimg/tablebg.png");
  background-size: cover;
}

/* .topbgwheel {
  position: absolute;
  width: 378px;
  height: 258px;
  top: -38px;
  left: 596px;
  background-image: url("../assets/images/desktopimg/resulttable.png");
  background-size: cover;
} */

.bottombg {
  position: absolute;
  left: -4px;
  top: 92%;
  width: 400px;
  height: 72px;
  background-image: url("../assets/images/desktopimg/bottombg.png");
  background-size: cover;
}

.gameUserImg img {
  width: 132px;
  height: 132px;
  margin: 27px 0 0 2px;
}

#wrapper {
  width: 395px;
  height: 750px;
}

.numberchips {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: -54px;
  margin-left: 2px;
  background-size: cover;
}

body {
  touch-action: manipulation;
}

.numberhistorybox {
  height: 145px;
  width: auto;
}
.game_wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 395px;
  height: 750px;
  /* background-image: url("images/desktopimg/DRAGON_TIGER_bg.png");
  background-size: cover; */
}
.numberhistory {
  position: relative;
  display: flex;
  top: -220px;
  left: 13px;
  padding: 0px;
  gap: 9px;
  width: 358px;
  height: 44px;
  padding-left: 13px;
  padding-top: 10px;
  border-radius: 8px;
  background-image: url("/assets/images/desktopimg/topbg.png");
  background-size: cover;
}

.numberbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.audiotxt {
  right: 35.4%;
}
#audio_icon {
  position: absolute;
  left: 88%;
  top: -124%;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
}

#audio_icon:hover {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.audio_icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../assets/images/audio.png");
  background-size: cover;
}
.muteaud_icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../assets/images/silent.png");
  background-size: cover;
}
.musictxt {
  right: 29.6%;
}

.mutmusic_icon {
  width: 37px;
  height: 37px;
  background-image: url("../assets/images/mute.png");
  background-size: cover;
  cursor: pointer;
}
.rulestxt {
  right: 17.5%;
}

.historytxt {
  right: 23.3%;
}

.settingtxt {
  right: 11.2%;
}

.audiotransition {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
/* text for menu bar  */

.comtxt {
  color: #fff;
  position: absolute;
  top: 8.5%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

/* roulette key  */
#backtohomebtn {
  position: absolute;
  right: 56px;
  top: 36px;
  width: 82px;
  height: 82px;
  cursor: pointer;
  background-image: url("../assets/images/backbtn.png");
  background-size: cover;
  z-index: 60;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
}
#backtohomebtn:hover {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

#frenchbtn {
  position: absolute;
  right: -3px;
  top: 623px;
  width: 55px;
  height: 193px;
  cursor: pointer;
  background-image: url("../assets/images/desktopimg/frenchbtn.png");
  background-size: cover;
  z-index: 1;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
}
#frenchbtn:hover {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
#rouletteButtonDiv {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 52%;
  left: 647px;
}

#wheelanimation {
  position: absolute;
  left: 67px;
  top: 218px;
  height: 589px;
  width: 589px;
  z-index: 5;
  border-radius: 50%;
}

#rightBtnBet {
  display: flex;
  flex-direction: column;
  margin-left: 1122px;
}

.rightbtntxt {
  transform: rotate(270deg);
  font-size: 35px;
}

.roulettekey {
  display: grid;
  /* gap: 0.1rem; */
  background-color: #f0e9ae;
  height: auto;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(12, auto);
  width: max-content;
  margin-left: 149px;
  margin-top: -317px;
}

.roulettekey_style {
  height: 105px;
  width: 81px;
  font-size: 53px;
  border: 3px solid #fff;
  cursor: pointer;
}

@supports (-webkit-touch-callout: none) {
  .roulettekey_style {
    -webkit-text-size-adjust: 100%;
    font-size: unset;
  }
  .rightbutton {
    white-space: nowrap;
    padding-left: 10px;
    -webkit-text-size-adjust: 100%;
    font-size: unset;
  }
  .buttonchipsSelection {
    bottom: 16% !important;
  }
}

#roulettekey :nth-child(even) {
  color: #ffffff;
}
#roulettekey :nth-child(odd) {
  color: white;
}

.backgroundColorRed {
  background-color: #d32f2f;
  /* opacity: 0.6; */
  filter: brightness(45%);
}
.backgroundColorBlack {
  background-color: #000000;
  /* opacity: 0.4; */
  filter: brightness(45%);
}

.roulettekeymenu_style {
  height: 44px;
  width: 56px;
}
.outerbg {
  position: absolute;
  width: 589px;
  height: 589px;
  top: -5px;
  left: -12px;
  background-image: url("../assets/images/wheel_outbg.png");
  background-size: cover;
}
.innerbg {
  position: absolute;
  width: 589px;
  height: 589px;
  top: -5px;
  left: -12px;
  background-image: url("../assets/images/innerbg.png");
  background-size: cover;
}
/* table css start*/

._tableparent {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 1px;
  margin-left: 142px;
}

._table {
  width: calc(100% - 55.3125rem);
}

.firstrow {
  display: flex;
  margin: -3px 4px 0px;
}

.firstrow td {
  width: calc(100% - 67%);
  /* border: 1px solid #000; */
  text-align: center;
}

.firstrow td button {
  display: block;
  padding: 1px;
  width: 325px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: 3px solid #fff;
  font-size: 66px;
  outline: none;
  overflow: hidden;
}
.firstrow td button:hover {
  background-color: #0a354e !important;
  /* filter: brightness(100%); */
  /* filter: brightness(100%); */
  /* margin-top: -4px; */
  /* box-shadow: 0px 6px darkolivegreen; */
}

.secondrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 969px;
  margin-left: 10px;
}

.secondrow td {
  width: 100%;
  text-align: center;
  margin: -3px 0 0 -6px;
}
.secondrow td button {
  display: block;
  padding: 3px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: 3px solid #fff;
  font-size: 60px;
  outline: none;
  overflow: hidden;
  /* font-weight: bold; */
}
.secondrow td button:hover {
  background-color: #0a354e !important;
  /* margin-top: -4px; */
  /* box-shadow: 0px 6px darkolivegreen; */
}

.firsttd {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.secondtd {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.threetd {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* .removepchbg {
  filter: brightness(100%);
} */

.changebackgroundred {
  /* background-color: #d32f2f !important; */
  filter: brightness(100%);
  /* margin-top: -4px; */
  /* box-shadow: 0px 6px darkolivegreen; */
}

/* slider box start */

* {
  box-sizing: border-box;
}

/* #sliderbarhead {
  margin-top: -471px;
  margin-left: 572px;
} */

/* body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #008c9e, #00dffc);
} */

#coinchipselection {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 643px;
  left: 44px;
  justify-content: space-between;
  max-width: 292px;
  z-index: 1;
}

#coinchipselection img {
  width: 33px;
}

/* 
.bgboxshadow {
  box-shadow: 0px 7px 7px rgb(255 255 255 / 30%);
} */

.slider {
  position: relative;
  padding: 2px 20px;
  width: 100%;
  max-width: 406px;
  margin-top: -55px;
  margin-left: 181px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #00000052;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 50%);
}
.slider .slider-items-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  transition: transform 0.35s ease-in-out;
}
.slider .slider-items-container img {
  /* max-width: 100%; */
  display: block;
}
.slider .controls {
  position: relative;
  top: -20px;
  width: 100%;
  /* margin-top: 23px; */
  /* padding: 9px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
}
.slider .controls a {
  color: #43a6a8;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  position: absolute;
  background-color: #0e334d;
  padding: 30px 12px;
}
.slider .controls a:hover {
  color: #888;
}
.slider .dots {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
.slider .dots .dot {
  width: 10px;
  height: 10px;
  background: #333;
  transition: 0.15s ease-in-out;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 20px;
}
.slider-item img {
  cursor: pointer;
  margin: 0.5em;
  width: 63px;
}
.next-btn {
  left: 342px;
}
.prev-btn {
  left: -21px;
}
.slider-items-container .active {
  background-image: url("../assets/images/activeclass.png");
  background-size: cover;
  border-radius: 8px;
}
.slider .dots .dot.active {
  background: #888;
}
/* slider box end */

/* money section start */

.chip_10 {
  background-image: url("../assets/images/10_chip.png");
}
.chip_25 {
  background-image: url("../assets/images/25_chip.png");
}
.chip_50 {
  background-image: url("../assets/images/50_chip.png");
}
.chip_100 {
  background-image: url("../assets/images/100_chip.png");
}
.chip_500 {
  background-image: url("../assets/images/500_chip.png");
}
.chip_1000 {
  background-image: url("../assets/images/1000_chip.png");
}
/* .allinone {
  background-image: url("../assets/images/all_in_chip.png");
} */

/* .chipValue {
  transform: scale(1, 1);
}
.chipValue:hover {
  transform: scale(0.9, 0.9);
} */

.chipValue {
  position: relative;
  cursor: pointer;
}

.chiptxtStyle {
  position: absolute;
  font-family: "League Gothic";
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}
#chiptxt_1 {
  top: 33%;
  left: 33%;
}
#chiptxt_2 {
  top: 33%;
  left: 37%;
  color: #e95b01;
}
#chiptxt_3 {
  top: 33%;
  left: 34%;
  color: #012abc;
}
#chiptxt_4 {
  top: 33%;
  left: 36%;
  color: #dd140e;
}
#chiptxt_5 {
  top: 33%;
  left: 31%;
  color: #007c20;
}
#chiptxt_6 {
  top: 33%;
  left: 31%;
  color: #b20188;
}

.moneybutton {
  width: 223px;
  height: 93px;
}

.coinamountfield img {
  z-index: 3;
  margin: -1px 3px 0px -12px;
  height: 40px;
  width: 40px;
}

.coinamountfield {
  display: flex;
  margin: -17px 0 0 16px;
  width: 111px;
  height: 40px;
  padding: 6px 0px 0px 114px;
  background-image: url("../assets/images/desktopimg/usermainamountbg.png");
  background-size: cover;
}

.betamountfield {
  display: flex;
}
.betamountfield img {
  width: 40px;
  height: 40px;
  z-index: 3;
  margin: -5px -12px 0px -13px;
}
/* money section start */

/*-- Loader CSS Starts --*/
#html5Loader {
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  z-index: 3;
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDA3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzAwMDAzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #ffffff),
    color-stop(49%, #ffffff)
  );
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: linear-gradient(to right, #ffffff 0%, #ffffff 49%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}

#html5Loader .fallback {
  top: 50%;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  /*vertical-align: middle;*/
  /*display: block;font-style: normal;font-size:100px;*/
}

div#DvLoaderCont {
  width: 300px;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  z-index: 100;
  background: #ffffff;
  overflow: hidden;
}

div#DvLoaderProgress {
  width: 300px;
  height: 15px;
  position: absolute;
  top: 0px;
  left: -300px;
  background: #0079c0;
}

/* keyActionFunction Style */
#keyActionPositionMove {
  position: relative;
}

.keyzone {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background-color: #fff; */
  z-index: 4;
  cursor: pointer;
}
.keyzonethreeselection {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background-color: #fff; */
  z-index: 3;
  cursor: pointer;
}

.keyzonesixselection {
  position: absolute;
  width: 33px;
  height: 13px;
  border-radius: 80%;
  /* background-color: #852626; */
  z-index: 6;
  cursor: pointer;
}

.keyzonesquer {
  position: absolute;
  width: 16px;
  height: 100px;
  border-radius: 27%;
  /* background-color: #fff; */
  z-index: 2;
  cursor: pointer;
}
.keyzonesquerzero {
  position: absolute;
  width: 16px;
  height: 100px;
  border-radius: 27%;
  /* background-color: #fff; */
  z-index: 2;
  cursor: pointer;
}
.keyzonebottom {
  position: absolute;
  width: 75px;
  height: 20px;
  border-radius: 27%;
  /* background-color: #fff; */
  z-index: 2;
  cursor: pointer;
}
.keyzonethreebottom {
  position: absolute;
  width: 75px;
  height: 11px;
  border-radius: 27%;
  /* background-color: #fff; */
  z-index: 3;
  cursor: pointer;
}

.currSign {
  height: 26px;
  font-size: 14px;
  display: inline-block;
  margin: 170px 0px 0 37px;
  text-align: center;
  color: #fff;
  z-index: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  top: 18px;
  min-width: 65px;
  font-family: "Bebas Neue";
  max-width: 70px;
}

.currSign:hover {
  overflow: inherit !important;
  text-overflow: inherit !important;
}
.totalcurrSign {
  font-size: 15px;
  color: #fff;
  margin-left: -68px;
  text-align: left;
  margin-top: 7px;
  width: 110px;
  padding-left: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Bebas Neue";
}

.totalcurrSign:hover {
  overflow: inherit !important;
  text-overflow: inherit !important;
}

.resultNumberCir {
  position: absolute;
  left: 161px;
  top: 165px;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  z-index: 4;
  display: none;
}
.resultBgBlue {
  background-color: #028ba9;
}
.resultBgPink {
  background-color: #a90270;
}
.resultBggreen {
  background-color: #42bd5c;
}

.resultNumberCirtext {
  font-size: 210px;
  color: #fff;
  text-align: center;
  margin: 8px 0px 0px 0px;
}

.hisTextStyle {
  font-size: 12px;
  border-radius: 50%;
  font-family: "Poppins";
  text-align: center;
  color: #fff;
  padding: 5px;
}

.bettingStart {
  position: absolute;
  align-items: center;
  top: 55%;
  /* height: 66px; */
  display: flex;
  left: -266px;
}

.bettingStartimg {
  -webkit-animation: battingspin 2s linear;
  -moz-animation: battingspin 2s linear;
  animation: battingspin 2s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes battingspin {
  0% {
    left: 15%;
  }

  90% {
    left: 15%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes battingspin {
  0% {
    left: 15%;
  }

  90% {
    left: 15%;
  }

  100% {
    left: 100%;
  }
}

@keyframes battingspin {
  0% {
    left: 15%;
  }

  90% {
    left: 15%;
  }

  100% {
    left: 100%;
  }
}

.threezeroselection {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -15px;
  left: -15px;
  background-size: cover;
}
#bettingText {
  position: absolute;
  width: 273px;
  height: 49px;
  z-index: 3;
}

.numberlock {
  width: 100%;
  height: 717px;
  background-color: rgb(0 0 0 / 51%);
  z-index: 20;
  margin-top: -717px;
  position: relative;
}
.blurdiv {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.clockcolor {
  z-index: 1;
  position: absolute;
  font-size: 30px;
  text-align: center;
  padding: 0px 0 0 0;
  width: 241px;
  height: 8px;
  color: #fff;
  margin: 0px 0 0 -41px;
  border-radius: 8px;
  border: 1px solid #46c9ff;
}

#timercount {
  position: absolute;
  font-size: 12px;
  font-family: Inter;
  font-style: italic;
  color: #ffad18;
  width: 38px;
  margin: -25px 0 0 71px;
}
.stclss {
  font-size: 12px;
  width: 78px;
  margin: -24px 0 0 5px;
  color: #ffffff;
  font-family: Inter;
  font-style: italic;
}
.secstyle {
  width: 24px;
  margin: -25px 168px 0px 0px;
  color: #ffad18;
  font-size: 12px;
  font-family: Inter;
  font-style: italic;
}
.timeclsprn {
  display: flex;
  width: 283px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 17px;
}
.progressbar {
  position: absolute;
  width: 241px;
  border-radius: 10px;
  background-color: #051a22;
  box-shadow: 0px 4px 4px 1px #371f30 inset;
}
.progress_bar_inner {
  border: 1px solid #0192cd;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #0192cd;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
/* .progressbar .inner {
  height: 8px;
  border-radius: 10px;
  animation: progressbar-countdown;
  animation-duration: var(--timerDuration);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-timing-function: linear;
}

@-webkit-keyframes progressbar-countdown {
  0% {
    width: 0%;
    background: #0192cd;
  }
  100% {
    width: 100%;
    background: #0192cd;
  }
}
@-moz-keyframes progressbar-countdown {
  0% {
    width: 0%;
    background: #0192cd;
  }
  100% {
    width: 100%;
    background: #0192cd;
  }
}
@keyframes progressbar-countdown {
  0% {
    width: 0%;
    background: #0192cd;
  }
  100% {
    width: 100%;
    background: #0192cd;
  }
} */

#clockimg {
  width: 75px;
  height: 8px;
  margin-left: 41px;
  /* display: none; */
}

#gameTimerOut {
  position: absolute;
  top: 392px;
  left: 81px;
}

.messageEnoughBox {
  position: absolute;
  top: 847px;
  left: 104px;
  width: 299px;
  height: 89px;
  z-index: 8;
  background-image: url("../assets/images/lowbalance.png");
  background-size: cover;
  display: none;
}

.resultShowBox {
  position: absolute;
  top: 219px;
  width: 200px;
  height: 589px;
  left: 64px;
  font-size: 77px;
  padding: 203px 0 0 0;
  color: #fff;
  /* border: 3px solid rebeccapurple; */
  border-radius: 50%;
  background-color: #07355199;
  text-align: center;
  font-family: "League Gothic";
  font-style: normal;
  background-size: cover;
  z-index: 100;
  display: none;
}
.resultShowBox img {
  position: absolute;
  width: 300px;
  height: 700px;
  background-size: cover;
  top: -56px;
  left: -61px;
  z-index: -1;
}

.resultShowimg {
  -webkit-animation: resultShowspin 3s linear;
  -moz-animation: resultShowspin 3s linear;
  animation: resultShowspin 3s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes resultShowspin {
  0% {
    left: 2px;
  }

  90% {
    left: 2px;
  }

  100% {
    left: -335px;
  }
}

@-webkit-keyframes resultShowspin {
  0% {
    left: 2px;
  }

  90% {
    left: 2px;
  }

  100% {
    left: -335px;
  }
}

@keyframes resultShowspin {
  0% {
    left: 2px;
  }

  90% {
    left: 2px;
  }

  100% {
    left: -335px;
  }
}

.resultShowBoxText {
  font-size: 60px;
  text-align: center;
  padding: 15px;
  font-size: 40px;
  color: #255b07;
}

.gameUserId {
  position: absolute;
  top: 64.1%;
  left: 37.3%;
  width: 214px;
}
.gameUserIdtxt {
  font-size: 30px;
  margin-left: 11px;
  margin-top: 23px;
  height: 38.26px;
  color: #fff8b0;
  overflow: hidden;
  width: 178px;
  padding: 6px 0px 0 0px;
  text-overflow: ellipsis;
  font-family: "Bebas Neue";
  z-index: 1;
  text-align: center;
}

.gameUserIdtxt:hover {
  overflow: inherit !important;
  text-overflow: inherit !important;
}

.gameUserBox {
  height: 80.26px;
  display: flex;
}
.gameidtext {
  width: 201px;
  height: 65px;
  font-size: 38px;
  color: #fff8b0;
  text-align: center;
  margin-left: auto;
  padding: 11px;
  /* margin: 0px 0px 0px 1116.7px; */
  font-family: "Bebas Neue";
  background: linear-gradient(0deg, #1e4e4f 0%, #50c6ca 100%);
  box-shadow: inset 0px -5.32597px 31.9558px rgb(0 0 0 / 16%);
  border-radius: 0px 0px 15.9779px 15.9779px;
}

.gameUserImg {
  width: 102px;
  height: 102px;
  margin: -10px 0px 0px 209px;
  border-radius: 50%;
  z-index: 1;
  background-size: cover;
}

.scoreanimation {
  -webkit-animation: scorespin 1s linear;
  -moz-animation: scorespin 1s linear;
  animation: scorespin 1s linear;
  animation-iteration-count: 1;
}
@keyframes scorespin {
  from {
    /* position: absolute; */
    left: 558px;
    top: 221px;
    transform: scale(1, 1);
    border-radius: 50%;
  }

  to {
    left: 0px;
    top: 0px;
    /* width: 40px;
    height: 40px; */
    transform: scale(0.3, 0.3);
    border-radius: 0%;
  }
}
@-webkit-keyframes scorespin {
  from {
    /* position: absolute; */
    left: 558px;
    top: 221px;
    transform: scale(1, 1);
    border-radius: 50%;
  }

  to {
    left: 0px;
    top: 0px;
    /* width: 40px;
    height: 40px; */
    transform: scale(0.3, 0.3);
    border-radius: 0%;
  }
}
@-moz-keyframes scorespin {
  from {
    /* position: absolute; */
    left: 558px;
    top: 221px;
    transform: scale(1, 1);
    border-radius: 50%;
  }

  to {
    left: 0px;
    top: 0px;
    /* width: 40px;
    height: 40px; */
    transform: scale(0.3, 0.3);
    border-radius: 0%;
  }
}

.test {
  position: absolute;
  left: 558px;
  top: 221px;
  width: 173px;
  height: 173px;
  border-radius: 50%;
  background-color: red;
  z-index: 10;
}

/* wait for next bet if user new join or reload on play time */

.waitTimeReload {
  top: 0px;
  left: 0px;
  width: 395px;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.34);
}
.waitingImage {
  top: 14%;
  left: 0px;
  background-color: rgb(0 0 0 / 42%);
  position: absolute;
  width: 395px;
  height: 750px;
  z-index: 5;
}

#waitingImageTxt {
  position: absolute;
  top: 32%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-size: 110px;
}
#rulePopup {
  position: absolute;
  top: 0px;
  width: 395px;
  height: 750px;
  z-index: 99999991;
  display: none;
  background-color: rgba(0, 0, 0, 0.741);
}
#rulePopupText {
  position: absolute;
  width: 395px;
  height: 750px;
  border-radius: 20px;
  top: 1%;
  right: 0.5%;
  /* background-image: url("../assets/images/gamerulepopup.png"); */
  background-color: #0079c0;
  background-size: cover;
  display: inline-flex;
  /* transition: 0.6s; */
}

.gamebody_container {
  position: relative;
  top: -87px;
}

/* for chips color number  */
/* 10 -- #00407D
25 -- #350073
50 -- #6D0077
100 -- #624E00
500 -- #603200
1000 -- #7A0500
all in -- #000000 */

/* keyActionFunction Style */

/*-- Loader CSS Ends --*/

/* custom slider */

/* pie timer start*/

:root {
  --percentage: "initial-value:100%";
}

/* ._percentage {
  initial-value: var(--percentage);
} */

/* pie timer end*/

.sliderchild {
  display: flex;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -ms-scroll-snap-points-x: repeat(75.72px);
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(75.72px);
  border-radius: 5px;
}

.sliderImgholder {
  height: auto;
  text-align: center;
  margin: auto 5px;
  width: 100%;
  border-radius: 5px;
  scroll-snap-align: start;
  text-align: center;
}

.sliderImgholder img {
  object-fit: cover;
  height: 33px;
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sliderImgholder.active {
  border: 1px solid rgba(204, 204, 204, 0.725);
  /* padding: 8px; */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
.active {
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  margin-top: -23px;
  -webkit-transition: -webkit-transform all 0.5s;
  -moz-transition: transform all 0.5s;
  -o-transition: transform all 0.5s;
  transition: all 0.5s;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

/* custom slider */
.chosenOne {
  background-color: #000 !important;
  border: 5px solid pink;
}
#content {
  display: inline-flex; /* or whatever */
  transition: 0.6s;
}

/* Login Page   */
.signupPage {
  position: absolute;
  margin: 0;
  width: 395px;
  height: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background-image: url("../assets/images/signupbg.svg");
  background-size: cover;
}

.closepop {
  margin: 17px 0px 0 1845px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-image: url("../assets/images/desktopimg/closebtn.png");
  background-size: cover;
}
#outerborderpopup {
  width: 395px;
  height: 750px;
  background-color: rgb(0 0 0 / 12%);
}

#mobileWrapper {
  width: 395px;
  height: 750px;
}
#timerpopupshow {
  position: absolute;
  font-size: 150px;
  top: 120px;
  left: 920px;
  text-align: center;
  background: linear-gradient(
    180deg,
    #ffffff 8.33%,
    #ffffff 29.69%,
    #f29316 44.27%,
    #ffffff 60.94%,
    #f29316 72.4%,
    #ffffff 85.42%,
    #ffffff 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 4;
}

.dot-flashing {
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: 27px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: #fff;
  color: #fff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  color: #fff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 20px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  color: #fff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #fff;
  }
  50%,
  100% {
    background-color: rgba(249, 248, 252, 0.2);
  }
}

#neterrorprnt {
  display: none;
}

#internet_error {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 167px;
  left: 26px;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  font-family: "League Spartan";
}

.playernotxt {
  width: 92px;
  font-size: 36px;
  color: #4ae456;
  text-align: center;
  margin: 22px 0 0 106px;
}
.liveresultcommanstyle {
  position: absolute;
  width: 346px;
  height: 788px;
  z-index: 6;
  margin-left: 11px;
  overflow: hidden;
}

.alldataresult {
  color: #f3e88a;
  font-size: 36px;
}
#liveresultprt {
  height: 2399px;
  overflow-y: scroll;
  margin-top: 794px;
}
.livescrollfun {
  animation: scroll 15s linear 1;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.firstuserprofileStyle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 322px;
  left: 17px;
  background-image: url("../assets/images/desktopimg/actsecuser.png");
  background-size: cover;
}
.userprofileSctStyle {
  position: absolute;
  width: 240px;
  height: 75px;
  background-image: url("../assets/images/desktopimg/secontuser.png");
  background-size: cover;
}
#seconduserprofile {
  top: 322px;
  left: 338px;
}
.usersecfileSctStyle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("../assets/images/desktopimg/actsecuser.png");
  background-size: cover;
}

#firstuserprofile_1 {
  top: 513px;
  left: 677px;
}
#firstuserprofile_2 {
  top: 513px;
  left: 1622px;
}

.usersecfileactStyle {
  position: absolute;
  top: 207px;
  left: 14px;
  width: 114px;
  height: 40px;
  background-image: url("../assets/images/desktopimg/activeuserpro.png");
  background-size: cover;
}
#bettingtable_1 {
  top: 437px;
  left: 50px;
}
#bettingtable_2 {
  top: 437px;
  left: 150px;
}
#bettingtable_3 {
  top: 437px;
  left: 250px;
}

.bettingtableStyle_1 {
  position: absolute;
  width: 90px;
  height: 109px;
  border-radius: 7px;
  background-image: url("../assets/images/desktopimg/dragonbg.png");
  background-size: cover;
}
.bettingtableStyle_2 {
  position: absolute;
  width: 90px;
  height: 109px;
  border-radius: 7px;
  background-image: url("../assets/images/desktopimg/tigerbg.png");
  background-size: cover;
}
.bettingtableStyle_3 {
  position: absolute;
  width: 90px;
  height: 109px;
  border-radius: 7px;
  background-image: url("../assets/images/desktopimg/lionbg.png");
  background-size: cover;
}

.firstbetplaceprntstyle {
  position: relative;
  width: 68px;
  height: 68px;
  margin: 24px 0 0 5px;
}

.betchipimgbgposition {
  position: absolute;
  width: 12px;
  height: 12px;
  background-size: cover;
}

.resultBg {
  position: absolute;
  top: 51%;
  left: 14%;
  width: 271px;
  height: 225px;
  background-image: url("../assets/images/desktopimg/gameRedsultbg.png");
  background-size: cover;
  display: flex;
  gap: 6px;
  z-index: 3;
  justify-content: space-evenly;
  padding-top: 50px;
}
.card-front {
  background-image: url("../assets/images/desktopimg/cardback.png");
  background-size: cover;
}

/* .card {
  margin-top: 115px;
  width: 92px;
  height: 137px;
} */

.card {
  width: 56px;
  height: 86px;
  perspective: 800px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  /* background-color: blue; */
  transform: rotateY(0deg);
}

.card-back {
  /* background-color: red; */
  transform: rotateY(180deg);
}

.showcard {
  transform: rotateY(180deg);
}
.card-back img {
  width: 56px;
  height: 86px;
}
.winnerimg {
  position: absolute;
  width: 265px;
  height: 247px;
  background-image: url("../assets/images/desktopimg/woncup.png");
  background-size: cover;
  z-index: 5;
}

#firstuserwin {
  margin-left: 171px;
  margin-top: -236px;
}

#secondbetplaceprnt {
  margin-top: 53px;
}

#seconduserwin {
  margin-top: -248px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* canvas {
  background-image: url("images/desktopimg/landing_page.png");
  background-size: cover;
} */
#roundidtxt {
  position: absolute;
  margin-top: -143px;
  margin-left: 280px;
}
.roundidtxtstyle {
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.scalediv {
  transform: scale(1, 1);
  transition: all 0.5s;
  border-radius: 19px;
  box-shadow: 7px 7px 7px rgb(255 255 255 / 20%);
}

#resultPopup {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #00000048;
  display: none;
}
.resultclosepop {
  width: 27px;
  height: 27px;
  cursor: pointer;
  margin: -1px 0 0 353px;
}
#outerresultborder {
  width: 395px;
  height: 1326px;
  background: rgba(8, 27, 72, 0.5);
  backdrop-filter: blur(8px);
}

#resultPopupText {
  position: absolute;
  top: 32%;
  left: 1%;
  width: 381px;
  height: 316px;
  background-image: url("/assets/images/desktopimg/userhistBg.png");
  background-size: cover;
}
.resultptrStyle {
  position: absolute;
  top: 44%;
  width: 363px;
  height: 111px;
}
.resultStyle img {
  width: 53px;
  height: 76px;
}
#resultimg {
  width: 100%;
  margin-left: 2%;
  display: flex;
  justify-content: space-evenly;
}

#hisDatatxt_0 {
  position: absolute;
  top: 155px;
  left: 28px;
  width: 88px;
  text-align: center;
}
#hisDatatxt_1 {
  position: absolute;
  top: 155px;
  left: 126px;
  width: 79px;
  text-align: center;
}
#hisDatatxt_2 {
  position: absolute;
  top: 155px;
  left: 212px;
  width: 65px;
  text-align: center;
}
#hisDatatxt_3 {
  position: absolute;
  top: 155px;
  left: 280px;
  width: 72px;
  text-align: center;
}

.resultdetailStyle {
  color: #fff;
  font-size: 9px;
  margin-left: 35px;
  margin-top: 69px;
  width: 86%;
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
}
#resulttilte {
  position: absolute;
  top: 11%;
  left: 31%;
  width: 380px;
  height: 89px;
  z-index: 1;
  background-image: url("../assets/images/desktopimg/resultimg.png");
  background-size: cover;
}
#resultFirstshow {
  position: absolute;
  width: 126px;
  height: 126px;
  top: 21%;
  left: 33%;
  z-index: 1;
}
#resultSecondshow {
  position: absolute;
  width: 126px;
  height: 126px;
  top: 21%;
  left: 60%;
  z-index: 1;
}

.mybetnumberStyle {
  color: #fff;
  font-size: 20px;
  width: 133px;
  height: 45px;
  margin: -87px 0 0 -46px;
  padding: 12px 18px 0px 0px;
  text-align: right;
  cursor: pointer;
  background-image: url("/assets/images/desktopimg/mybetbtn.png");
  background-size: cover;
}

.mybetsectionstyle {
  position: absolute;
  left: 295px;
  top: 157px;
  /* background-image: url("/assets/images/desktopimg/mybetbtn.png"); */
  background-size: cover;
}

#mainprntData {
  position: absolute;
  font-family: Inter;
  color: #ffffff;
  font-size: 11px;
  display: flex;
  width: 147px;
  gap: 4px;
  top: -61%;
  left: 60%;
}
#mindata {
  display: flex;
  gap: 4px;
}
#maxdata {
  display: flex;
  gap: 4px;
}

#betPopup {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999991;
  display: none;
  background-color: rgba(0, 0, 0, 0.24);
}
#betText {
  position: absolute;
  width: 368px;
  height: 618px;
  top: 11%;
  left: 4%;
  background-image: url("../assets/images/desktopimg/bethistory.png");
  background-size: cover;
  display: inline-flex;
}

.betclosepop {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

#outerbetpopup {
  width: 100%;
  height: 1326px;
  /* background-color: rgba(0, 0, 0, 0.329); */
  background: rgba(8, 27, 72, 0.5);
  backdrop-filter: blur(8px);
}

.mybetdetalisstyle {
  position: relative;
  top: 151px;
  height: 454px;
  width: 88%;
  left: 12px;
  z-index: 99;
  overflow: scroll;

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
#game_scroll {
  position: relative;
  height: 750px;
  width: 109%;
  z-index: 99;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.mainScreenGame {
  width: 395px;
  height: 1110px;
  background-image: url("/assets/images/desktopimg/background.png");
  background-size: cover;
}
.historyuserhis_child_style {
  width: 100%;
  /* height: 173px; */
  margin: 9px 0 0 0px;
  border-radius: 10px;
}

.history_first_div {
  width: 100%;
  height: 29px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Poppins";
  font-size: 12px;
  border-bottom: 1px solid #1c7094;
  padding-top: 5px;
}
.history_playerType {
  margin-right: 38px;
}
.betTablePlaceBet {
  position: relative;
  width: 168px;
  height: 103px;
  margin: 54px 0 0 6px;
  /* cursor: pointer; */
}

/* bottom bet place animation start */

.bettingbtnbot {
  margin-top: 567px;
  padding-top: 14px;
  width: 395px;
  height: 647px;
  background-color: #142025;
}
.dragonTigerBgStyle {
  width: 100%;
  height: 290px;
}

.userBettingbtnStyle {
  width: 286px;
  height: 92px;
}

.expBtnStyle {
  position: absolute;
  top: 68px;
  left: 15px;
  width: 164px;
  height: 49px;
  background-image: url("/assets/images/desktopimg/expbg.png");
  background-size: cover;
}
#expBlsTxt {
  text-align: center;
  margin: 1px 0 0 50px;
  width: 78px;
  color: #ffefc1;
  font-family: Poppins;
  overflow: hidden;
  text-overflow: ellipsis;
}
#expBlsTxt:hover {
  overflow: inherit !important;
  text-overflow: inherit !important;
}
.betKeyActionStyle {
  width: 163px;
  height: 50px;
  color: #ffffff;
  text-align: end;
  padding: 16px 18px 0 0px;
  font-size: 16px;
  background-size: cover;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
}

.betKeyActionStyle:hover {
  font-size: 14px;
  padding: 18px 24px 0 0;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.upperbtnStyle {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 17px;
}

.betKeyStyle {
  width: 167px;
  height: 51px;
  color: #ffffff;
  text-align: end;
  padding: 18px 15px 0 0px;
  font-size: 16px;
  background-size: cover;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
}

.betKeyStyle:hover {
  font-size: 14px;
  padding: 19px 26px 0 0;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.dragonprntStyle {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.leftdStyle {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 16px;
  justify-content: center;
}

.liability {
  width: 167px;
  height: 21px;
  color: green;
  text-align: center;
  font-size: 13px;
}
.libdragonprntStyle {
  margin-top: -537px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.libleftdStyle {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 46px;
  justify-content: center;
}

#expBtn {
  text-align: center;
  padding-top: 15px;
  color: #fff;
}

#betKeyAction_1 {
  background-image: url("/assets/images/desktopimg/winner.png");
}
#betKeyAction_2 {
  background-image: url("/assets/images/desktopimg/blackbtn_d.png");
}
#betKeyAction_3 {
  background-image: url("/assets/images/desktopimg/redbtn_d.png");
}
#betKeyAction_4 {
  background-image: url("/assets/images/desktopimg/oddbtn_d.png");
}
#betKeyAction_5 {
  background-image: url("/assets/images/desktopimg/evenbtn_d.png");
}
#betKeyAction_6 {
  background-image: url("/assets/images/desktopimg/1_card.png");
}
#betKeyAction_7 {
  background-image: url("/assets/images/desktopimg/2_card.png");
}
#betKeyAction_8 {
  background-image: url("/assets/images/desktopimg/3_card.png");
}
#betKeyAction_9 {
  background-image: url("/assets/images/desktopimg/4_card.png");
}
#betKeyAction_10 {
  background-image: url("/assets/images/desktopimg/5_card.png");
}
#betKeyAction_11 {
  background-image: url("/assets/images/desktopimg/6_card.png");
}
#betKeyAction_12 {
  background-image: url("/assets/images/desktopimg/7_card.png");
}
#betKeyAction_13 {
  background-image: url("/assets/images/desktopimg/8_card.png");
}
#betKeyAction_14 {
  background-image: url("/assets/images/desktopimg/9_card.png");
}
#betKeyAction_15 {
  background-image: url("/assets/images/desktopimg/10_card.png");
}
#betKeyAction_16 {
  background-image: url("/assets/images/desktopimg/11_card.png");
}
#betKeyAction_17 {
  background-image: url("/assets/images/desktopimg/12_card.png");
}
#betKeyAction_18 {
  background-image: url("/assets/images/desktopimg/13_card.png");
}
#betKeyAction_19 {
  background-image: url("/assets/images/desktopimg/winner.png");
}
#betKeyAction_20 {
  background-image: url("/assets/images/desktopimg/blackbtn_t.png");
}
#betKeyAction_21 {
  background-image: url("/assets/images/desktopimg/redbtn_t.png");
}
#betKeyAction_22 {
  background-image: url("/assets/images/desktopimg/oddbtn_t.png");
}
#betKeyAction_23 {
  background-image: url("/assets/images/desktopimg/evenbtn_t.png");
}
#betKeyAction_24 {
  background-image: url("/assets/images/desktopimg/1_card.png");
}
#betKeyAction_25 {
  background-image: url("/assets/images/desktopimg/2_card.png");
}
#betKeyAction_26 {
  background-image: url("/assets/images/desktopimg/3_card.png");
}
#betKeyAction_27 {
  background-image: url("/assets/images/desktopimg/4_card.png");
}
#betKeyAction_28 {
  background-image: url("/assets/images/desktopimg/5_card.png");
}
#betKeyAction_29 {
  background-image: url("/assets/images/desktopimg/6_card.png");
}
#betKeyAction_30 {
  background-image: url("/assets/images/desktopimg/7_card.png");
}
#betKeyAction_31 {
  background-image: url("/assets/images/desktopimg/8_card.png");
}
#betKeyAction_32 {
  background-image: url("/assets/images/desktopimg/9_card.png");
}
#betKeyAction_33 {
  background-image: url("/assets/images/desktopimg/10_card.png");
}
#betKeyAction_34 {
  background-image: url("/assets/images/desktopimg/11_card.png");
}
#betKeyAction_35 {
  background-image: url("/assets/images/desktopimg/12_card.png");
}
#betKeyAction_36 {
  background-image: url("/assets/images/desktopimg/13_card.png");
}
#betKeyAction_37 {
  background-image: url("/assets/images/desktopimg/winner.png");
}
#betKeyAction_38 {
  background-image: url("/assets/images/desktopimg/blackbtn_l.png");
}
#betKeyAction_39 {
  background-image: url("/assets/images/desktopimg/redbtn_l.png");
}
#betKeyAction_40 {
  background-image: url("/assets/images/desktopimg/oddbtn_l.png");
}
#betKeyAction_41 {
  background-image: url("/assets/images/desktopimg/evenbtn_l.png");
}
#betKeyAction_42 {
  background-image: url("/assets/images/desktopimg/1_card.png");
}
#betKeyAction_43 {
  background-image: url("/assets/images/desktopimg/2_card.png");
}
#betKeyAction_44 {
  background-image: url("/assets/images/desktopimg/3_card.png");
}
#betKeyAction_45 {
  background-image: url("/assets/images/desktopimg/4_card.png");
}
#betKeyAction_46 {
  background-image: url("/assets/images/desktopimg/5_card.png");
}
#betKeyAction_47 {
  background-image: url("/assets/images/desktopimg/6_card.png");
}
#betKeyAction_48 {
  background-image: url("/assets/images/desktopimg/7_card.png");
}
#betKeyAction_49 {
  background-image: url("/assets/images/desktopimg/8_card.png");
}
#betKeyAction_50 {
  background-image: url("/assets/images/desktopimg/9_card.png");
}
#betKeyAction_51 {
  background-image: url("/assets/images/desktopimg/10_card.png");
}
#betKeyAction_52 {
  background-image: url("/assets/images/desktopimg/11_card.png");
}
#betKeyAction_53 {
  background-image: url("/assets/images/desktopimg/12_card.png");
}
#betKeyAction_54 {
  background-image: url("/assets/images/desktopimg/13_card.png");
}

.dealerStyle {
  position: absolute;
  top: 197px;
  left: 127px;
  width: 144px;
  height: 163px;
  background-image: url("/assets/images/desktopimg/dealerBg.png");
  background-size: cover;
}
.menuStyle {
  position: absolute;
  top: 20px;
  left: 302px;
  width: 32px;
  height: 32px;
  background-image: url("/assets/images/desktopimg/menubtn.png");
  background-size: cover;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
  display: none;
}

.menuStyle:hover {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

/* .betratioDataStyle {
  color: #ffffff;
  text-align: end;
  padding: 10px 10px 0 0px;
  font-size: 16px;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
}

.betratioDataStyle:hover {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
} */
/* bottom bet place animation end */

#stopbettxt {
  position: absolute;
  z-index: 5;
  left: -71%;
  top: 379px;
  width: 307px;
  height: 54px;
  background-image: url("/assets/images/desktopimg/stopbettingtxt.png");
  background-size: cover;
}

.stopbetanm {
  -webkit-animation: stopgameN 2s linear;
  -moz-animation: stopgameN 2s linear;
  animation: stopgameN 2s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes stopgameN {
  0% {
    left: 9%;
  }

  90% {
    left: 9%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes stopgameN {
  0% {
    left: 9%;
  }

  90% {
    left: 9%;
  }

  100% {
    left: 100%;
  }
}

@keyframes stopgameN {
  0% {
    left: 9%;
  }

  90% {
    left: 9%;
  }

  100% {
    left: 100%;
  }
}

#gamestart {
  position: absolute;
  z-index: 5;
  left: -89%;
  top: 378px;
  width: 374px;
  height: 65px;
  background-image: url("/assets/images/desktopimg/startbettingtxt.png");
  background-size: cover;
}
.betStart {
  -webkit-animation: startgameN 2s linear;
  -moz-animation: startgameN 2s linear;
  animation: startgameN 2s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes startgameN {
  0% {
    left: 0%;
  }

  90% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes startgameN {
  0% {
    left: 0%;
  }

  90% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@keyframes startgameN {
  0% {
    left: 0%;
  }

  90% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}
#waitfornext {
  position: absolute;
  z-index: 5;
  left: -78%;
  top: 475px;
  width: 332px;
  height: 31px;
  background-image: url("/assets/images/desktopimg/waitingtxt.png");
  background-size: cover;
}

.bettingwait {
  -webkit-animation: waitfor 3s linear;
  -moz-animation: waitfor 3s linear;
  animation: waitfor 3s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes waitfor {
  0% {
    left: 9%;
  }

  90% {
    left: 9%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes waitfor {
  0% {
    left: 9%;
  }

  90% {
    left: 9%;
  }

  100% {
    left: 100%;
  }
}

@keyframes waitfor {
  0% {
    left: 9%;
  }

  90% {
    left: 9%;
  }

  100% {
    left: 100%;
  }
}

/* bet confirm popup start */

.settingprnt {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 1327px;
  background-color: #0102023a;
  z-index: 999999;
  display: none;
}
.settinginsidetxt {
  width: 100%;
  height: 109px;
}
.settingpage {
  position: absolute;
  width: 330px;
  height: 207px;
  top: 614px;
  left: 32px;
  border-radius: 20px;
  border: 3px solid #2795c8;
  background: linear-gradient(180deg, #032d40 0%, #0f0e0f 100%, #0e0b07 100%);
  filter: drop-shadow(0px 0px 4px #9fdcf8);
}
.closebtn {
  position: absolute;
  right: -17px;
  top: -16px;
  width: 35px;
  height: 35px;
  z-index: 1;
  cursor: pointer;
  background-image: url("../assets/images/crossbtn.png");
  background-size: cover;
}
.toptitleinfoStyle {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 63px;
  border-radius: 20px 20px 0px 0px;
  /* background-color: #380f6b; */
}
#toptxt {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
  font-weight: bold;
  padding-top: 18px;
}
.insidetxtfunction123 {
  display: flex;
  margin-top: 58px;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  gap: 15px;
}
.valueStyleDec {
  width: 30px;
  height: 35px;
  line-height: 0;
  background-color: green;
  text-align: center;
  cursor: pointer;
  transform: scale(1, 1);
}
.valueStyleDec:hover {
  transform: scale(0.9, 0.9);
}
.valueStyleInc {
  width: 30px;
  height: 35px;
  line-height: 34px;
  background-color: red;
  text-align: center;
  cursor: pointer;
  transform: scale(1, 1);
}
.valueStyleInc:hover {
  transform: scale(0.9, 0.9);
}

.betAmountDataStyle {
  text-align: center;
  font-size: 17px;
  width: 142px;
  font-family: Poppins;
  color: #fff;
  background-color: #000;
  border: 1px solid;
}
.textInfo {
  text-align: center;
  font-size: 13px;
  margin-top: 24px;
  color: #fff;
  font-family: Poppins;
}
#btnsty {
  margin-top: 14px;
  text-align: center;
}
#betplacebtn {
  cursor: pointer;
  z-index: 1;
  width: 96px;
  height: 35px;
  color: #fff;
  outline: none;
  overflow: hidden;
  font-family: Inter;
  font-size: 13px;
  background: #441835;
}

/* bet confirm popup end */
.dragonhbbtnStyle {
  color: #fff;
  position: absolute;
  top: 688px;
  left: 51px;
  cursor: pointer;
  font-family: Inter;
}
.dragonhbbtnStyle:hover {
  border-bottom: 3px solid #19acec;
}
.tigerhbbtnStyle {
  color: #fff;
  position: absolute;
  top: 688px;
  left: 168px;
  cursor: pointer;
  font-family: Inter;
}
.tigerhbbtnStyle:hover {
  border-bottom: 3px solid #19acec;
}
.lionhbbtnStyle {
  color: #fff;
  position: absolute;
  top: 688px;
  left: 276px;
  cursor: pointer;
  font-family: Inter;
}
.lionhbbtnStyle:hover {
  border-bottom: 3px solid #19acec;
}

.activeCls {
  border-bottom: 3px solid #19acec;
}
.betKeycard {
  width: 24px;
  height: 32px;
  background-size: cover;
}
.dragonbtncard {
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.tigerbtncard {
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.gameRIdStyle {
  position: absolute;
  color: #fff;
  top: 291px;
  left: 110px;
  z-index: 2;
  font-size: 11px;
  font-family: Inter;
}
/* bet confirm popup start */
