@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
.bettingbtnbot {
  margin-top: 976px;
  width: 1920px;
  height: 600px;
  background: linear-gradient(180deg, #2f2619 0%, #160c1e 100%, #292013 100%);
  /* justify-content: space-around; */
}

.tableStyle {
  padding-top: 42px;
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dataStyle {
  margin-left: 522px;
  margin-top: 3px;
  line-height: 71px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  font-family: Inter;
  width: 69px;
  height: 70px;
  background-color: #0071a5;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
}

.dataStyle:hover {
  transform: scale(0.9, 0.9);
}
.innerDataStyle {
  margin-left: 12px;
  margin-right: 12px;
  line-height: 71px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  font-family: Inter;
  width: 69px;
  height: 70px;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
}

.innerDataStyle:hover {
  transform: scale(0.9, 0.9);
}

.innerDataStyle:nth-child(odd) {
  background-color: #0071a5;
}

.innerDataStyle:nth-child(even) {
  background-color: #faa9ba;
}

.tblStyle {
  width: 603px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#betDatabg_1 {
  background-image: url("../assets/images/desktopimg/donbet.png");
  background-size: cover;
}
#betDatabg_2 {
  background-image: url("../assets/images/desktopimg/aaabet.png");
  background-size: cover;
}
#betDatabg_3 {
  background-image: url("../assets/images/desktopimg/sahabbg.png");
  background-size: cover;
}
#betDatabg_4 {
  background-image: url("../assets/images/desktopimg/dharamveer.png");
  background-size: cover;
}
#betDatabg_5 {
  background-image: url("../assets/images/desktopimg/kiskopyar.png");
  background-size: cover;
}
#betDatabg_6 {
  background-image: url("../assets/images/desktopimg/ghulambet.png");
  background-size: cover;
}
#betDatabg_7 {
  background-image: url("../assets/images/desktopimg/oddbtn.png");
  background-size: cover;
}
#betDatabg_8 {
  background-image: url("../assets/images/desktopimg/dulha.png");
  background-size: cover;
}
#betDatabg_9 {
  background-image: url("../assets/images/desktopimg/bharti.png");
  background-size: cover;
}
#betDatabg_10 {
  background-image: url("../assets/images/desktopimg/blackbtn.png");
  background-size: cover;
}
#betDatabg_11 {
  background-image: url("../assets/images/desktopimg/redbtn.png");
  background-size: cover;
}
#betinnerdata_19 {
  background-image: url("../assets/images/11_card.png");
  background-size: cover;
}
#betinnerdata_20 {
  background-image: url("../assets/images/12_card.png");
  background-size: cover;
}
#betinnerdata_21 {
  background-image: url("../assets/images/13_card.png");
  background-size: cover;
}
#betinnerdata_22 {
  background-image: url("../assets/images/1_card.png");
  background-size: cover;
}
.cardhtStyle {
  width: 97px;
  height: 122px;
  cursor: pointer;
  z-index: 3;
}

#bottombetDataKeyAct {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.leftsty {
  width: 285px;
  height: 92px;
}

#bottomLeft {
  display: flex;
  flex-wrap: nowrap;
  width: 31%;
  gap: 16px;
}
#bottomRight {
  text-align: center;
}
.cardratetxtStyle {
  font-size: 24px;
  font-family: Inter;
  color: #fff;
  margin-bottom: 13px;
}
#midbetDataKeyAct {
  margin-top: 28px;
  display: flex;
  justify-content: space-around;
}

.midtxtstyle {
  width: 277px;
  height: 88px;
  font-size: 24px;
  padding: 32px 20px 0 0;
  text-align: right;
  color: #ffffff;
  font-family: Inter;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
}

.midtxtstyle:hover {
  padding: 32px 29px 0 0;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.botomtxtstyle {
  width: 97px;
  height: 122px;
  background-size: cover;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
}

.botomtxtstyle:hover {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.btmdataStyle {
  margin-left: 203px;
  margin-top: 13px;
  line-height: 71px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  font-family: Inter;
  width: 69px;
  height: 70px;
  background-color: #0071a5;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1, 1);
  outline: none;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
}

.btmdataStyle:hover {
  transform: scale(0.9, 0.9);
}

/* bottom bet place animation end */
#stopbettxt {
  position: absolute;
  z-index: 5;
  left: -40%;
  top: 412px;
  width: 713px;
  height: 116px;
  background-image: url("/assets/images/desktopimg/stopbettingtxt.png");
  background-size: cover;
}

.stopbetanm {
  -webkit-animation: stopgameN 2s linear;
  -moz-animation: stopgameN 2s linear;
  animation: stopgameN 2s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes stopgameN {
  0% {
    left: 28%;
  }

  90% {
    left: 28%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes stopgameN {
  0% {
    left: 28%;
  }

  90% {
    left: 28%;
  }

  100% {
    left: 100%;
  }
}

@keyframes stopgameN {
  0% {
    left: 28%;
  }

  90% {
    left: 28%;
  }

  100% {
    left: 100%;
  }
}

#gamestart {
  position: absolute;
  z-index: 5;
  left: -40%;
  top: 412px;
  width: 713px;
  height: 116px;
  background-image: url("/assets/images/desktopimg/startbettingtxt.png");
  background-size: cover;
}
.betStart {
  -webkit-animation: startgameN 2s linear;
  -moz-animation: startgameN 2s linear;
  animation: startgameN 2s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes startgameN {
  0% {
    left: 28%;
  }

  90% {
    left: 28%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes startgameN {
  0% {
    left: 28%;
  }

  90% {
    left: 28%;
  }

  100% {
    left: 100%;
  }
}

@keyframes startgameN {
  0% {
    left: 28%;
  }

  90% {
    left: 28%;
  }

  100% {
    left: 100%;
  }
}
#waitfornext {
  position: absolute;
  z-index: 5;
  left: -37%;
  top: 412px;
  width: 709px;
  height: 64px;
  background-image: url("/assets/images/desktopimg/waitingtxt.png");
  background-size: cover;
}

.bettingwait {
  -webkit-animation: waitfor 3s linear;
  -moz-animation: waitfor 3s linear;
  animation: waitfor 3s linear;
  animation-iteration-count: 1;
}

@-moz-keyframes waitfor {
  0% {
    left: 29%;
  }

  90% {
    left: 29%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes waitfor {
  0% {
    left: 29%;
  }

  90% {
    left: 29%;
  }

  100% {
    left: 100%;
  }
}

@keyframes waitfor {
  0% {
    left: 29%;
  }

  90% {
    left: 29%;
  }

  100% {
    left: 100%;
  }
}

/* bottom bet place animation end */
/* bet confirm popup start */
.settingprnt {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 1731px;
  background-color: #0102023a;
  z-index: 999999;
  display: none;
}
.settinginsidetxt {
  margin: 90px 0 0 0px;
  width: 100%;
  height: 109px;
}
.settingpage {
  position: absolute;
  width: 620px;
  height: 305px;
  top: 1130px;
  left: 664px;
  border-radius: 20px;
  border: 3px solid #d28e2d;
  filter: drop-shadow(0px 0px 4px #2f2619);
  background: linear-gradient(180deg, #2f2619 0%, #0f0e0f 100%, #0e0b07 100%);
}
.closebtn {
  position: absolute;
  right: -20px;
  top: -23px;
  width: 50px;
  height: 50px;
  z-index: 1;
  cursor: pointer;
  background-image: url("../assets/images/crossbtn.png");
  background-size: cover;
}
.toptitleinfoStyle {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 63px;
  border-radius: 20px 20px 0px 0px;
  /* background-color: #380f6b; */
}
#toptxt {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-family: Poppins;
  font-weight: bold;
  padding-top: 18px;
}
.insidetxtfunction123 {
  display: flex;
  margin-top: 91px;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  gap: 15px;
}
.valueStyleDec {
  width: 50px;
  height: 50px;
  line-height: 15px;
  background-color: green;
  text-align: center;
  cursor: pointer;
  transform: scale(1, 1);
}
.valueStyleDec:hover {
  transform: scale(0.9, 0.9);
}
.valueStyleInc {
  width: 50px;
  height: 50px;
  background-color: red;
  text-align: center;
  cursor: pointer;
  transform: scale(1, 1);
}
.valueStyleInc:hover {
  transform: scale(0.9, 0.9);
}

.betAmountDataStyle {
  text-align: center;
  font-size: 29px;
  width: 233px;
  font-family: Poppins;
  color: #fff;
  background-color: #000;
  border: 1px solid;
}
.textInfo {
  text-align: center;
  font-size: 37px;
  color: #fff;
  line-height: 2.9;
  /* font-family: Poppins; */
}
#btnsty {
  margin-top: -14px;
  text-align: center;
}
#betplacebtn {
  cursor: pointer;
  z-index: 1;
  width: 166px;
  height: 46px;
  color: #fff;
  outline: none;
  overflow: hidden;
  font-family: Inter;
  font-size: 21px;
  background: #441835;
}
/* bet confirm popup start */
#libildataset {
  margin-top: -431px;
  display: flex;
  font-size: 23px;
  color: green;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-family: Inter;
}
.libinnerdata {
  width: 603px;
  height: 120px;
}
#libildatasetm {
  font-size: 23px;
  color: green;
  text-align: center;
  font-family: Inter;
}
.libinnerdatam {
  position: absolute;
}
#libinnerdata_10 {
  top: 1633px;
  left: 309px;
  width: 254px;
  height: 34px;
}
#libinnerdata_11 {
  top: 1633px;
  left: 609px;
  width: 254px;
  height: 34px;
}
#libinnerdata_12 {
  top: 1699px;
  left: 1178px;
  width: 97px;
}
#libinnerdata_13 {
  top: 1699px;
  left: 1297px;
  width: 97px;
}
#libinnerdata_14 {
  top: 1699px;
  left: 1413px;
  width: 97px;
}
#libinnerdata_15 {
  top: 1699px;
  left: 1529px;
  width: 97px;
}
